<section>
  <app-btn-close [link]="'tx/'+tx.hash" [dialogRef]="dialogRef"></app-btn-close>
  <div class="popup-row row">
    <!-- First column -->
    <div class="px-0  p-lg-3 col-12">
      <mat-card  cdkDrag class="card-1 mat-elevation-z8 mb-3">
        <mat-card-header>
            <mat-card-title>Transaction Detail</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Hash
                  <h3 class="glance-title"><span class="badge">
                    {{tx.hash | slice:0:15 }}... 
                    <i 
                      class="ion-ios-copy copy-button" 
                      style="cursor: pointer;" 
                      ngxClipboard 
                      [cbContent]="tx.hash" 
                      (click)="onCopySucceess()"
                      matTooltip="copy to clipboard" matTooltipPosition="above">
                    </i>
                  </span></h3>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Status
                  <span *ngIf="!tx.error; else elseStatus">
                    <i class="ion-checkmark-circled success"></i>
                  </span>
                  <ng-template #elseStatus>
                    <i class="ion-close-circled fail"></i>
                  </ng-template>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Height
                  <h3 class="glance-title"><span class="badge" style="cursor:pointer" (click)="openBlockDialog(tx.height)" color="pink">{{tx.height}}</span></h3>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Timestamp
                    <h3 class="glance-title"><span class="badge">{{tx.details?.timestamp | ago | async}}</span></h3>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Fee
                  <h3 class="glance-title"><span class="badge">
                    {{ 
                      tx.details?.tx.value.fee.amount ?
                      tx.details.tx.value.fee.amount[0].amount : '0' 
                    }} uatom
                  </span></h3>
                </li>
                <li *ngIf="tx.gasUsed && tx.gasUsed" class="list-group-item d-flex justify-content-between align-items-center">
                  Gas (used/wanted)
                  <h3 class="glance-title"><span class="badge">{{ tx.gasUsed }}/{{ tx.gasWanted }}</span></h3>
                </li>
                <li *ngIf="tx.memo.length > 0" class="list-group-item d-flex justify-content-between align-items-center">
                  Memo
                  <h3 class="glance-title"><span class="badge">{{ tx.memo }}</span></h3>
                </li>
            </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="px-0  p-lg-3 col-12">
      <mat-card  cdkDrag class="card-2 mat-elevation-z8 mb-3">
        <mat-card-header>
            <mat-card-title>Activity</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul class="list-group">
              <span *ngFor="let action of tx.action; index as i">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Type
                  <h3 class="glance-title"><span class="badge">{{ action | titlecase}}</span></h3>
                </li>
                
                <li *ngIf="tx.msg[i].value.from_address" class="list-group-item d-flex justify-content-between align-items-center">
                  From
                  <h3 class="glance-title"><span class="badge" style="cursor:pointer;" 
                    (click)="openAccountDialog(tx.msg[i].value.from_address)"color="pink">
                    <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.from_address ) : false; else elseSender">
                      {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.from_address )}}
                    </span>
                    <ng-template #elseSender>
                      {{ tx.msg[i].value.from_address | slice:0:15 }}... 
                      <i 
                        class="ion-ios-copy copy-button" 
                        style="cursor: pointer;" 
                        ngxClipboard 
                        [cbContent]="tx.msg[i].value.from_address" 
                        (click)="onCopySucceess()"
                        matTooltip="copy to clipboard" matTooltipPosition="above">
                      </i>
                    </ng-template>
                  </span></h3>
                </li>
                
                <li *ngIf="tx.msg[i].value.to_address" class="list-group-item d-flex justify-content-between align-items-center">
                  To
                  <h3 class="glance-title"><span class="badge" style="cursor:pointer;" 
                    (click)="openAccountDialog(tx.msg[i].value.to_address)">
                    <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.to_address ) : false; else elseRecipient">
                      {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.to_address )}}
                    </span>
                    <ng-template #elseRecipient>
                      {{ tx.msg[i].value.to_address | slice:0:15 }}... 
                      <i 
                        class="ion-ios-copy copy-button" 
                        style="cursor: pointer;" 
                        ngxClipboard 
                        [cbContent]="tx.msg[i].value.to_address" 
                        (click)="onCopySucceess()"
                        matTooltip="copy to clipboard" matTooltipPosition="above">
                      </i>
                    </ng-template>
                  </span></h3>
                </li>
                
                <li *ngIf="tx.msg[i].value.delegator_address" class="list-group-item d-flex justify-content-between align-items-center">
                  Delegator
                  <h3 class="glance-title"><span class="badge" style="cursor:pointer;" 
                    (click)="openAccountDialog(tx.msg[i].value.delegator_address)">
                    <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.delegator_address ) : false; else elseDelegator">
                      {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.delegator_address )}}
                    </span>
                    <ng-template #elseDelegator>
                      {{ tx.msg[i].value.delegator_address | slice:0:15 }}... 
                      <i 
                        class="ion-ios-copy copy-button" 
                        style="cursor: pointer;" 
                        ngxClipboard 
                        [cbContent]="tx.msg[i].value.delegator_address" 
                        (click)="onCopySucceess()"
                        matTooltip="copy to clipboard" matTooltipPosition="above">
                      </i>
                    </ng-template> 
                  </span></h3>
                </li>
                
                <li *ngIf="tx.msg[i].value.validator_address" class="list-group-item d-flex justify-content-between align-items-center">
                  Validator
                  <h3 class="glance-title"><span class="badge" (click)="openValidatorDetailDialog( tx.msg[i].value.validator_address )"
                    style="cursor: pointer">
                    <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.validator_address ) : false; else elseValidator">
                      {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.validator_address )}}
                    </span>
                    <ng-template #elseValidator>
                      {{ tx.msg[i].value.validator_address | slice:0:15 }}... 
                      <i 
                        class="ion-ios-copy copy-button" 
                        style="cursor: pointer;" 
                        ngxClipboard 
                        [cbContent]="tx.msg[i].value.validator_address" 
                        (click)="onCopySucceess()"
                        matTooltip="copy to clipboard" matTooltipPosition="above">
                      </i>
                    </ng-template>
                  </span></h3>
                </li><br *ngIf="action === 'withdraw delegator reward'">

                <li *ngIf="tx.msg[i].value.validator_src_address" 
                    class="list-group-item d-flex justify-content-between align-items-center">
                  From
                  <h3 class="glance-title"><span class="badge" (click)="openValidatorDetailDialog( tx.msg[i].value.validator_src_address )"
                    style="cursor: pointer">
                    <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.validator_src_address ) : false; else elseSrcValidator">
                      {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.validator_src_address )}}
                    </span>
                    <ng-template #elseSrcValidator>
                      {{ tx.msg[i].value.validator_src_address | slice:0:15 }}... 
                      <i 
                        class="ion-ios-copy copy-button" 
                        style="cursor: pointer;" 
                        ngxClipboard 
                        [cbContent]="tx.msg[i].value.validator_src_address" 
                        (click)="onCopySucceess()"
                        matTooltip="copy to clipboard" matTooltipPosition="above">
                      </i>
                    </ng-template> 
                  </span></h3>
                </li>
                
                <li *ngIf="tx.msg[i].value.validator_dst_address" 
                    class="list-group-item d-flex justify-content-between align-items-center">
                  To
                  <h3 class="glance-title"><span class="badge" (click)="openValidatorDetailDialog( tx.msg[i].value.validator_dst_address )"
                    style="cursor: pointer">
                    <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.validator_dst_address ) : false; else elseDstValidator">
                      {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.validator_dst_address )}}
                    </span>
                    <ng-template #elseDstValidator>
                      {{ tx.msg[i].value.validator_dst_address | slice:0:15 }}... 
                      <i 
                        class="ion-ios-copy copy-button" 
                        style="cursor: pointer;" 
                        ngxClipboard 
                        [cbContent]="tx.msg[i].value.validator_dst_address" 
                        (click)="onCopySucceess()"
                        matTooltip="copy to clipboard" matTooltipPosition="above">
                      </i>
                    </ng-template> 
                  </span></h3>
                </li>

                <span *ngIf="tx.msg[i].type === 'cosmos-sdk/MsgEditValidator'">
                  <li *ngIf="tx.msg[i].value.address" 
                      class="list-group-item d-flex justify-content-between align-items-center">
                    Validator
                    <h3 class="glance-title"><span class="badge" (click)="openValidatorDetailDialog( tx.msg[i].value.address )"
                      style="cursor: pointer">
                      <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( tx.msg[i].value.address ) : false; else elseDstValidator">
                        {{ (validatorsState | async).validatorsMap.get( tx.msg[i].value.address )}}
                      </span>
                      <ng-template #elseDstValidator>
                        {{ tx.msg[i].value.address | slice:0:15 }}... 
                        <i 
                          class="ion-ios-copy copy-button" 
                          style="cursor: pointer;" 
                          ngxClipboard 
                          [cbContent]="tx.msg[i].value.address" 
                          (click)="onCopySucceess()"
                          matTooltip="copy to clipboard" matTooltipPosition="above">
                        </i>
                      </ng-template> 
                    </span></h3>
                  </li>
                  <li *ngFor="let key of objectKeys(tx.msg[i].value.Description)" 
                      class="list-group-item d-flex justify-content-between align-items-center">
                    {{ key | titlecase }}
                    <h3 class="glance-title">
                      <span class="badge">
                        <span *ngIf="tx.msg[i].value.Description[key] !== '[do-not-modify]'; else elseUpdateValue">
                          {{ tx.msg[i].value.Description[key] }}
                        </span>
                        <ng-template #elseUpdateValue>{{ 'Unchanged' }}</ng-template>
                      </span>
                    </h3>
                  </li>
                </span>

                <span *ngIf="tx.msg[i].type === 'cosmos-sdk/MsgMultiSend'">
                  <li *ngFor="let input of tx.msg[i].value.inputs" 
                      class="list-group-item d-flex justify-content-between align-items-center">
                    Sender
                    <h3 class="glance-title"><span class="badge" (click)="openAccountDialog( input.address )"
                      style="cursor: pointer;">
                      <span *ngIf="(validatorsState | async).validatorsMap.size 
                                    ? (validatorsState | async).validatorsMap.has( input.address ) 
                                    : false; else elseInputMulti">
                        {{ (validatorsState | async).validatorsMap.get( input.address )}}
                      </span>
                      <ng-template #elseInputMulti>
                        {{ input.address | slice:0:15 }}... 
                        <i 
                          class="ion-ios-copy copy-button" 
                          style="cursor: pointer;" 
                          ngxClipboard 
                          [cbContent]="input.address" 
                          (click)="onCopySucceess()"
                          matTooltip="copy to clipboard" matTooltipPosition="above">
                        </i>
                      </ng-template>
                    </span></h3>
                  </li>
                  <li *ngFor="let output of tx.msg[i].value.outputs" 
                      class="list-group-item d-flex justify-content-between align-items-center">
                    Recipient
                    <h3 class="glance-title"><span class="badge" (click)="openAccountDialog( output.address )"
                      style="cursor: pointer;">
                      <span *ngIf="(validatorsState | async).validatorsMap.size 
                                    ? (validatorsState | async).validatorsMap.has( output.address ) 
                                    : false; else elseOutputMulti">
                        {{ (validatorsState | async).validatorsMap.get( output.address )}}
                      </span>
                      <ng-template #elseOutputMulti>
                        {{ output.address | slice:0:15 }}... 
                        <i 
                          class="ion-ios-copy copy-button" 
                          style="cursor: pointer;" 
                          ngxClipboard 
                          [cbContent]="output.address" 
                          (click)="onCopySucceess()"
                          matTooltip="copy to clipboard" matTooltipPosition="above">
                        </i>
                      </ng-template>
                    </span></h3>
                  </li>
                  <li *ngFor="let output of tx.msg[i].value.outputs; index as j" 
                      class="list-group-item d-flex justify-content-between align-items-center">
                    Amount {{j+1}}:
                    <h3 class="glance-title"><span class="badge">
                        {{ output.coins[0].amount/1e6 | number:".2-2" }}&nbsp;ATOM
                    </span></h3>
                  </li>
                </span>

                <li *ngIf="tx.msg[i].value.amount" 
                    class="list-group-item d-flex justify-content-between align-items-center">
                  Amount
                  <h3 class="glance-title"><span class="badge">
                      {{ ( tx.msg[i].value.amount.length ? tx.msg[i].value.amount[0].amount : tx.msg[i].value.amount.amount )/1e6 | number:".2-2" }}&nbsp;ATOM 
                  </span></h3>
                </li>
              </span>
            </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>