/*-------------------------------------------------*/
/* Reusable Components */
/*-------------------------------------------------*/
.row {
  max-width: 90%;
  margin: 0 auto;
}

/*-------------------------------------------------*/
/* Table */
/*-------------------------------------------------*/
table {
  table-layout: fixed;
  min-width: 100%;
  border-collapse: collapse;
}

th:nth-child(1) {
  width: 20%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 20%;
}

th:nth-child(4) {
  width: 20%;
}
th:nth-child(5) {
  width: 20%;
}

td {
  overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
  white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
  text-overflow: ellipsis;
  text-align: left;
}

button {
  margin: 15px;
}

p,
tbody {
  color: white;
}

.td-1 {
  color: #FC7D14;
}

.td-2 {
  color: #00A58F;
}

/* mat-table */
.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: white;
}

.mat-header-cell, .mat-cell {
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
}

.mat-header-cell {
  color: #ffffff;
}

.mat-cell {
  color: black;
}

.mat-header-row {
  background-color: #3F51B5;
}

.ticker {
  font-size: 80%;
  color: #3F51B5;
}

.txHashColumn {
  flex: 0 0 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .columnRightAlign {
  display:flex;
  justify-content:flex-end;
} */

 /* Expandable rows */
tr {
  cursor: pointer;
}

tr.tx-detail-row {
  height: 0;
  cursor: default;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.paginator {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  margin-right: 0;
 }

.mat-paginator {
  color:white;
  background-color: #3F51B5;
}

.success {
  color: #4CAF50;
}

.fail {
color: #F44336;/*#00796b;*/
}

.list-group-item {
  color: black;
}

.badge {
  margin-left: 100px;
}

.copy-button {
  color:#3F51B5;
}

.copy-button:hover,
.copy-button:active {
  color:#7986cb;
  /* border-bottom: 1px solid transparent; */
}

.button-row {
  max-width: 90%;
  justify-content: center;
  margin: 20px auto 20px auto;
}

mdb-card {
  max-width: 100%;
}

.tx-detail {
  padding: 0 !important
}

mdb-badge {
  margin-left: 0 !important
}

.txn-amount {
  color: #3F51B5;
}

button {
  margin-left: 0;
}