/*-------------------------------------------------*/
/* Reusable Components */
/*-------------------------------------------------*/
.row {
  max-width: 90%;
  margin: 0 auto;
}

p {
  padding: 1px;
}
/*-------------------------------------------------*/
/* Table */
/*-------------------------------------------------*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}

/* thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
} */

td {
  overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
  white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
  text-overflow: ellipsis;
  text-align: left;
}

button {
  margin: 15px;
}

p,
tbody {
  color: white;
}

.td-1 {
  color: #FC7D14;
}

.td-2 {
  color: #00A58F;
}

/* mat-table */
.mat-row:nth-child(even){
  background-color:#0D151F;
}

.mat-row:nth-child(odd){
  background-color:#111923;
}

.mat-header-cell, .mat-cell {
  font-size: 20px;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
}

.mat-header-cell {
  color: #ffffff;
}

.mat-cell {
  color: #F7F7F7;
}

.mat-header-row {
  background-color: #3F51B5;
}

.ticker {
  font-size: 80%;
  color: #B2DFDB;
}

.txHashColumn {
  flex: 0 0 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .columnRightAlign {
  display:flex;
  justify-content:flex-end;
} */

 /* Expandable rows */
tr {
  cursor: pointer;
}

tr.tx-detail-row {
  height: 0;
  cursor: default;
}
