<span *ngIf="txs && txs.length >= INITIAL_TXS_COUNT; else elseLoading">
  <div (scroll)="onScroll($event)" class="row table-responsive text-nowrap scrollbar-primary main-row mat-elevation-z8">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <mat-form-field>
            <input #queryInputRef matInput placeholder="Enter tx hash">
          </mat-form-field>
        </div>
        <div class="col-4">
          <button (click) = "queryTx(queryInputRef.value)" mat-raised-button color="accent">Search</button>    
        </div>
      </div>
    </div>
    <table mat-table
          [dataSource]="dataSource" 
          multiTemplateDataRows
          class="mat-elevation-z8 w-auto">

      <ng-container matColumnDef="hash" sticky>
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-pound"></i>&nbsp;Hash</th>
        <td mat-cell *matCellDef="let tx" mdbWavesEffect> 
          <span>
            {{tx.hash | slice:0:15 }}... 
            <i 
              class="ion-ios-copy copy-button" 
              style="cursor: pointer;" 
              ngxClipboard 
              [cbContent]="tx.hash" 
              (click)="onCopySucceess()"
              mdbTooltip="copy to clipboard" placement="left">
            </i>
          </span>
          </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-document-text"></i>&nbsp;Type</th>
        <td mat-cell *matCellDef="let tx">
          <mat-chip-list>
            <mat-chip color = "primary" selected>
              <span *ngIf="tx.action && tx.action.length > 0; else elseAction">
                {{ tx.action[0] | titlecase }}
              </span>
              <ng-template #elseAction>
                {{ tx.error | titlecase }}
              </ng-template>
            </mat-chip>
            </mat-chip-list></td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-android-checkbox-outline"></i>&nbsp;Status</th>
        <td mat-cell *matCellDef="let tx"> 
          <span *ngIf="!tx.error; else elseStatus"><i class="ion-checkmark-circled success"></i></span>
          <ng-template #elseStatus>
            <i class="ion-close-circled fail"></i>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-card"></i>&nbsp;Fee</th>
        <td mat-cell *matCellDef="let tx"> 
          {{ 
            tx.details?.tx.value.fee.amount ?
            tx.details.tx.value.fee.amount[0].amount : '0' 
          }}&nbsp;<span class="ticker">uatom</span> 
        </td>
      </ng-container>

      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-soup-can"></i>&nbsp;Height</th>
        <td mat-cell *matCellDef="let tx"> {{tx.height}} </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-clock"></i>&nbsp;Time</th>
        <td mat-cell *matCellDef="let tx"> {{tx.details?.timestamp | ago | async}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let tx" [attr.colspan]="displayedColumns.length">
          <div
              class="tx-detail"
              [@detailExpand]="tx == expandedElement ? 'expanded' : 'collapsed'">
            <!-- <span>
              <div *ngFor="let tag of tx.tags">
                {{tag.key | titlecase}}: {{tag.value}}
              </div>
            </span> -->
            <div class="row">
              <ul class="list-group">
                <span *ngFor="let action of tx.action; index as i">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Type:
                    <span class="badge badge-primary badge-pill">{{ action | titlecase}}</span>
                  </li>
                  <li *ngIf="tx.sender && tx.sender[i]" class="list-group-item d-flex justify-content-between align-items-center">
                    From:
                    <span class="badge badge-primary badge-pill"
                          style="cursor:pointer;" 
                          (click)="openTxsListDialog(tx.sender[i])">
                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( tx.sender[i] ) : false; else elseSender">
                        {{ (appState | async).valsMap.get( tx.sender[i] )}}
                      </span>
                      <ng-template #elseSender>{{tx.sender[i]}}</ng-template>
                    </span>
                  </li>
                  <li *ngIf="tx.recipient && tx.recipient[i]" class="list-group-item d-flex justify-content-between align-items-center">
                    To:
                    <span class="badge badge-primary badge-pill"
                          style="cursor:pointer;" 
                          (click)="openTxsListDialog(tx.recipient[i])">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( tx.recipient[i] ) : false; else elseRecipient">
                          {{ (appState | async).valsMap.get( tx.recipient[i] )}}
                        </span>
                        <ng-template #elseRecipient>{{tx.recipient[i]}}</ng-template>
                    </span>
                  </li>
                  <li *ngIf="tx.delegator && tx.delegator[i]" class="list-group-item d-flex justify-content-between align-items-center">
                    Delegator:
                    <span style="cursor:pointer;" 
                          (click)="openTxsListDialog(tx.delegator[i])" 
                          class="badge badge-primary badge-pill">
                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( tx.delegator[i] ) : false; else elseDelegator">
                        {{ (appState | async).valsMap.get( tx.delegator[i] )}}
                      </span>
                      <ng-template #elseDelegator>{{tx.delegator[i]}}</ng-template> 
                    </span>
                  </li>
                  <li *ngIf="tx.source_validator && tx.source_validator[i]" class="list-group-item d-flex justify-content-between align-items-center">
                    Validator:
                    <span class="badge badge-primary badge-pill"
                          (click)="openValidatorDetailDialog(tx.source_validator[i])"
                          style="cursor: pointer">
                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( tx.source_validator[i] ) : false; else elseSourceVal">
                        {{ (appState | async).valsMap.get( tx.source_validator[i] )}}
                      </span>
                      <ng-template #elseSourceVal>{{tx.source_validator[i]}}</ng-template> 
                    </span>
                  </li>
                  <li *ngIf="tx.destination_validator && tx.destination_validator[i]" class="list-group-item d-flex justify-content-between align-items-center">
                    Validator:
                    <span class="badge badge-primary badge-pill"
                          (click)="openValidatorDetailDialog(tx.destination_validator[i])"
                          style="cursor: pointer">
                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( tx.destination_validator[i] ) : false; else elseDestVal">
                        {{ (appState | async).valsMap.get( tx.destination_validator[i] )}}
                      </span>
                      <ng-template #elseDestVal>{{tx.destination_validator[i]}}</ng-template>
                    </span>
                  </li>
                  <li *ngIf="tx.end_time && tx.end_time[i]" class="list-group-item d-flex justify-content-between align-items-center">
                    Ends:
                    <span class="badge badge-primary badge-pill">{{tx.end_time[i]|date: 'h:ma dd/MM/yy' }}</span>
                  </li>
                  <span *ngIf="action === 'vote'">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Voter:
                      <span class="badge badge-primary badge-pill">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( tx.voter[i] ) : false; else elseVoter">
                          {{ (appState | async).valsMap.get( tx.voter[i] )}}
                        </span>
                        <ng-template #elseVoter>{{tx.voter[i]}}</ng-template>
                      </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Proposal:
                      <span class="badge badge-primary badge-pill">{{tx.proposal_id[i]}}</span>
                    </li>
                  </span>
                  <br>
                </span>
                <!-- TODO add -->
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                  Amount:
                  <span class="badge badge-primary badge-pill">{{tx.gasUsed}}</span>
                </li> -->
                <li *ngIf="tx.error" class="list-group-item d-flex justify-content-between align-items-center">
                  Status:
                  <span class="badge badge-primary badge-pill">{{tx.error|titlecase}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Gas (used/wanted):
                  <span class="badge badge-primary badge-pill">{{tx.gasUsed}}/{{tx.gasWanted}}</span>
                </li>
                <!-- TODO add -->
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                  Memo:
                  <span class="badge badge-primary badge-pill">wtf is up G!</span>
                </li> -->
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span 
                      style="cursor: pointer;" 
                      (click)="openTxDialog(tx)" 
                      class="badge badge-primary badge-pill">
                    Details
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let tx; columns: displayedColumns;"
          [appBgHighlight]="'#d1d1d1'" defaultColor="#ffffff"
          [class.example-expanded-row]="expandedElement === tx"
          (click)="expandedElement = expandedElement === tx ? null : tx">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="tx-detail-row"></tr>
    </table>
    <!-- <div class="row paginator">
      <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[100]"></mat-paginator>
    </div> -->
  </div>
  <div class="button-row">
    <button class="show-more" mdbBtn (click)="displayOlderTxs();" type="button" color="indigo" size="sm" block="true" mdbWavesEffect>Show More</button>
  </div>
</span>
<ng-template #elseLoading>
  <div style="display: flex; justify-content: center;">
    <mdb-spinner spinnerColor="blue"></mdb-spinner>
  </div> 
</ng-template>