.main-row {
    max-width: 95%;
    margin:0 auto;
}

.row {
    margin: 0 auto;
}

.row-2 {
    margin-top: 30px;
}

li {
    max-height: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}