.main-row {
    max-width: 800px;
    margin:0 auto;
    max-height: 600px;
}

.row {
    margin: 0 auto;
}

.row-2 {
    margin-top: 30px;
}

mat-card {
    max-width: 100%;
    background-color: white;
    width: 800px;
}

li {
    max-height: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voters-list {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.proposal-title {
    font-weight: 300;
    font-size: 120%;
}