<!-- <section class="section">
  <div class="row main-row">
    <mat-card>
      <div class="row row-1">
        <div class="col-md-4 chart-card">
          <div class="my-5">
              <mat-card>
                  <div style="display: block" class="row">
                    <canvas mdbChart
                      [chartType]="chartType"
                      [datasets]="chartDatasets"
                      [labels]="chartLabels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
                  </div>
              </mat-card>
          </div>
        </div>
        <div class="col-md-8">
          <div class="my-5">
              <mdb-card style="max-width: 100%;" class="text-left">
                  <mdb-card-body>
                    <mdb-card-title>
                      <h5 class="proposal-title font-weight-bold mb-3">{{proposal.proposal_content.value.title}}</h5>
                    </mdb-card-title>
                    <mdb-card-text class="mb-0 text-left">
                      {{proposal.proposal_content.value.description}}
                    </mdb-card-text>
                  </mdb-card-body>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="font-weight-bold">Proposer: </span>
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( proposal.proposer ) : false; else elseVetoVoter">
                          {{ (appState | async).valsMap.get( proposal.proposer )}}
                        </span>
                        <ng-template #elseVetoVoter>{{proposal.proposer}}</ng-template>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold">Deposit: </span>{{proposal.total_deposit[0].amount/1e6 | number:".2-2"}} ATOM</li>
                    <li class="list-group-item"><span class="font-weight-bold">Status: </span>{{proposal.proposal_status}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Voting period: </span>Start - End</li>
                  </ul>
                </mdb-card>
          </div>
        </div>
      </div>
      <div class="row row-2">
        <div class="my-5">
            <mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
                <mdb-tab heading="ALL">
                  <div class="row">
                    <div class="col-12 voters-list">
                      <p *ngFor="let voter of proposal.currentVotes.All">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( voter ) : false; else elseVoter">
                          {{ (appState | async).valsMap.get( voter )}}
                        </span>
                        <ng-template #elseVoter>{{voter}}</ng-template>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="YES">
                  <div class="row">
                    <div class="col-12 voters-list">
                      <p *ngFor="let voter of proposal.currentVotes.Yes">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( voter ) : false; else elseYesVoter">
                          {{ (appState | async).valsMap.get( voter )}}
                        </span>
                        <ng-template #elseYesVoter>{{voter}}</ng-template>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="NO">
                  <div class="row">
                    <div class="col-12 voters-list">
                      <p *ngFor="let voter of proposal.currentVotes.No">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( voter ) : false; else elseNoVoter">
                          {{ (appState | async).valsMap.get( voter )}}
                        </span>
                        <ng-template #elseNoVoter>{{voter}}</ng-template>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="NOWITHVETO">
                  <div class="row">
                    <div class="col-12 voters-list">
                      <p *ngFor="let voter of proposal.currentVotes.NoWithVeto">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( voter ) : false; else elseVetoVoter">
                          {{ (appState | async).valsMap.get( voter )}}
                        </span>
                        <ng-template #elseVetoVoter>{{voter}}</ng-template>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="ABSTAIN">
                  <div class="row">
                    <div class="col-12 voters-list">
                      <p *ngFor="let voter of proposal.currentVotes.Abstain">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( voter ) : false; else elseAbstainVoter">
                          {{ (appState | async).valsMap.get( voter )}}
                        </span>
                        <ng-template #elseAbstainVoter>{{voter}}</ng-template>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="DEPOSIT">
                  <div class="row">
                    <div class="col-12 voters-list">
                      <p *ngFor="let deposit of proposal.currentDeposit">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( deposit.depositor ) : false; else elseAbstainVoter">
                          {{ (appState | async).valsMap.get( deposit.depositor )}} - {{deposit.amount[0].amount}} {{deposit.amount[0].denom}}
                        </span>
                        <ng-template #elseAbstainVoter>
                          {{deposit.depositor}} - {{deposit.amount[0].amount}} {{deposit.amount[0].denom}}
                        </ng-template>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
              </mdb-tabset>
        </div>
      </div>
    </mat-card>
  </div>
</section> -->

<section class="section">
    <div class="row main-row">

        <div class="col-md-4">
            <div class="my-5">
                <mdb-card style="max-width: 100%;" class="text-left">
                    <mdb-card-body>
                      <mdb-card-title>
                        <h5 class="proposal-title font-weight-bold mb-3">{{proposal.proposal_content.value.title}}</h5>
                      </mdb-card-title>
                      <mdb-card-text class="mb-0 text-left">
                        {{proposal.proposal_content.value.description}}
                      </mdb-card-text>
                    </mdb-card-body>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <span class="font-weight-bold">Proposer: </span>
                          <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( proposal.proposer ) : false; else elseVetoVoter">
                            {{ (appState | async).valsMap.get( proposal.proposer )}}
                          </span>
                          <ng-template #elseVetoVoter>{{proposal.proposer}}</ng-template>
                      </li>
                      <li class="list-group-item"><span class="font-weight-bold">Deposit: </span>{{proposal.total_deposit[0].amount/1e6 | number:".2-2"}} ATOM</li>
                      <li class="list-group-item"><span class="font-weight-bold">Status: </span>{{proposal.proposal_status}}</li>
                      <li style="overflow-x: scroll" class="list-group-item"><span class="font-weight-bold">Voting period: </span>
                        {{ proposal.voting_start_time | date :'short' }} - {{ proposal.voting_end_time | date :'short' }}
                      </li>
                    </ul>
                </mdb-card>
            </div>
            <div class="my-5">
                <mat-card>
                    <div style="display: block" class="row">
                      <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                      </canvas>
                    </div>
                </mat-card>
            </div>
        </div>

        <div class="col-md-8">
            <div class="my-5">
                <mat-card alignment="left">
                  <mat-card-title>Votes</mat-card-title>
                    <div class="card-body">
                      <mat-tab-group (selectedTabChange)="onTabChange($event);">
                        <mat-tab label="All">
                          <div class="row table-responsive text-nowrap scrollbar-primary">
                            <table mat-table [dataSource]="votesDataSource" class="table large-header">
                              <ng-container matColumnDef="voter">
                                <th mat-header-cell *matHeaderCellDef> Voter </th>
                                <td mat-cell *matCellDef="let vote">
                                  <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                    {{ (appState | async).valsMap.get( vote.voter )}}
                                  </span>
                                  <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="vote">
                                <th mat-header-cell *matHeaderCellDef> Vote </th>
                                <td mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                            </table>
                          </div>
                        </mat-tab>
                        <mat-tab label="Yes">
                          <div class="row table-responsive text-nowrap scrollbar-primary">
                            <table mat-table [dataSource]="votesDataSource" class="table large-header">
                              <ng-container matColumnDef="voter">
                                <th mat-header-cell *matHeaderCellDef> Voter </th>
                                <td mat-cell *matCellDef="let vote"> 
                                  <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                    {{ (appState | async).valsMap.get( vote.voter )}}
                                  </span>
                                  <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="vote">
                                <th mat-header-cell *matHeaderCellDef> Vote </th>
                                <td mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                            </table>
                          </div>
                        </mat-tab>
                        <mat-tab label="No">
                          <div class="row table-responsive text-nowrap scrollbar-primary">
                            <table mat-table [dataSource]="votesDataSource" class="table large-header">
                              <ng-container matColumnDef="voter">
                                <th mat-header-cell *matHeaderCellDef> Voter </th>
                                <td mat-cell *matCellDef="let vote">
                                  <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                    {{ (appState | async).valsMap.get( vote.voter )}}
                                  </span>
                                  <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="vote">
                                <th mat-header-cell *matHeaderCellDef> Vote </th>
                                <td mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                            </table>
                          </div>
                        </mat-tab>
                        <mat-tab label="NoWithVeto">
                          <div class="row table-responsive text-nowrap scrollbar-primary">
                            <table mat-table [dataSource]="votesDataSource" class="table large-header">
                              <ng-container matColumnDef="voter">
                                <th mat-header-cell *matHeaderCellDef> Voter </th>
                                <td mat-cell *matCellDef="let vote">
                                  <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                    {{ (appState | async).valsMap.get( vote.voter )}}
                                  </span>
                                  <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="vote">
                                <th mat-header-cell *matHeaderCellDef> Vote </th>
                                <td mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                            </table>
                          </div>
                        </mat-tab>
                        <mat-tab label="Abstain">
                          <div class="row table-responsive text-nowrap scrollbar-primary">
                            <table mat-table [dataSource]="votesDataSource" class="table large-header">
                              <ng-container matColumnDef="voter">
                                <th mat-header-cell *matHeaderCellDef> Voter </th>
                                <td mat-cell *matCellDef="let vote">
                                  <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                    {{ (appState | async).valsMap.get( vote.voter )}}
                                  </span>
                                  <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="vote">
                                <th mat-header-cell *matHeaderCellDef> Vote </th>
                                <td mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                            </table>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-card>
            </div>
            <div class="my-5">
              <mat-card alignment="left">
                <mat-card-title>Deposit</mat-card-title>
                <div class="card-body">
                  <div class="row table-responsive text-nowrap scrollbar-primary">
                    <table mat-table [dataSource]="depositDataSource" class="table large-header">
                      <ng-container matColumnDef="depositor">
                        <th mat-header-cell *matHeaderCellDef> Depositor </th>
                        <td mat-cell *matCellDef="let deposit"> 
                          <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( deposit.depositor ) : false; else elseVetoVoter">
                            {{ (appState | async).valsMap.get( deposit.depositor )}}
                          </span>
                          <ng-template #elseVetoVoter>{{ deposit.depositor }}</ng-template> 
                        </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let deposit"> 
                          {{deposit.amount[0].amount}} {{deposit.amount[0].denom}}
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="depositDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: depositDisplayedColumns;"></tr>
                    </table> 
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
              </mat-card>
            </div>
        </div>
    </div>
</section>