<div class="row row-nav">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav" 
        [ngClass]="{hidden: !(isHandset$ | async)}"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/validators">Validators</a>
        <a mat-list-item routerLink="/blocks">Blocks</a>
        <a mat-list-item routerLink="/txs">Transactions</a>
        <a mat-list-item routerLink="/gov">Governance</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="crm-navigation-bar">
          <mat-toolbar color="primary">
              <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
                <span>
                  <a href="#"><img src="../../../../assets/img/Coris_logo.png" class="logo"></a>
                </span>
                <span>
                  <h1 class="brand-title">Coris</h1>
                  <h5 class="brand-subtitle">by Cypher Core</h5>
                </span>
              <span class="spacer"></span>
              <span class="nav-links">
                <a routerLink="/validators">Validators</a>
                <a routerLink="/blocks">Blocks</a>
                <a routerLink="/txs">Transactions</a>
                <a routerLink="/gov">Governance</a>
                  <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">Network<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">MainNet</a></li>
                      <li><a href="#">TestNet</a></li>
                    </ul>
                  </li>
              </span>
            </mat-toolbar>
      </div>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
