.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

@media screen and (max-width: 760px) {
  .logo {
    display: none;
  }

  .nav-links {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.mat-toolbar {
  background: #111923;
  margin-top: 20px;
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

.mat-sidenav-content {
  background: #111923;
}