<!--Grid row-->
<div class="profile-card-row">

  <!--Grid column-->
<!-- Nav Tabs -->
<mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-tabs tabs-3 indigo'" [contentClass]="'card'">
<!--Panel 1-->
<mdb-tab heading="Operator address">
  <div class="row">
    <div class="col-12">
      <!-- <br> -->
      <p>content 1</p>
    </div>
  </div>
</mdb-tab>
<!--Panel 2-->
<mdb-tab heading="Delegator address">
  <div class="row">
    <div class="col-12">
      <!-- <br> -->
      <p>content 2</p>
    </div>
  </div>
</mdb-tab>
<!--Panel 3-->
<mdb-tab heading="Detail">
  <div class="row">
    <div class="col-12">
      <!-- <br> -->
      <p>content 3</p>
    </div>
  </div>
</mdb-tab>
<!--Panel 4-->
<mdb-tab heading="Website">
  <div class="row">
    <div class="col-12">
      <!-- <br> -->
      <p>content 4</p>
    </div>
  </div>
</mdb-tab>
</mdb-tabset>
</div>
<!--Grid row-->