<div class="main-row">

    <div  class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let card of slides; let i = index">
            <mat-card class="nav justify-content-center text-center">
              <mat-card-header class="d-block">
                <i class="fas {{card.icon}}"></i>
                <mat-card-title>
                  {{card.title}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{card.data}}
                </p>
                <p class="card-text">last updated: {{card.timestamp}}</p>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
</div>