<footer class="page-footer pt-4">
  <div class="container">

      <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="mx-1" href="https://github.com/jim380/Coris" target=" ">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="mx-1" href="https://twitter.com/cypher_core" target=" ">
              <i class="fab fa-twitter-square"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="mx-1" href="https://t.me/cyphercore" target=" ">
              <i class="fab fa-telegram-plane"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="mx-1" href="https://www.linkedin.com/company/cypher-core/about/?viewAsMember=true" target=" ">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="mx-1" href="http://cyphercore.io" target=" ">
              <i class="fas fa-code"></i>
            </a>
          </li>
        </ul>

  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://cyphercore.io"> Cypher Core LLC.</a>
  </div>
</footer>