<!--Grid row-->
<div class="profile-card-row">

    <!--Grid column-->
    <div class="col-md-6">
  
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1">
        </div>
  
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
        </div>
  
        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>moniker</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <!-- <p>
            <i class="fas fa-quote-left"></i>details
          </p> -->

          <!-- Tabset tabs -->
            <mdb-tabset [vertical]="true" [buttonClass]="'tabs-white flex-column list-group'" [contentClass]="'vertical'">
                <!--Panel 1-->
                <mdb-tab heading="<a class='list-group-item'> Operator address </a>">
                <div class="list-row">
                    <div class="col-12 waves-light" mdbWavesEffect>
                    <br>
                    <p class="h5"> content here </p>
                    <p>content 1</p>
                    </div>
                </div>
                </mdb-tab>
                <!--Panel 2-->
                <mdb-tab heading="<a class='list-group-item'> Delegator address </a>">
                <div class="list-row">
                    <div class="col-12 waves-light" mdbWavesEffect>
                    <br>
                    <p class="h5"> content here </p>
                    <p>content 2</p>
                    </div>
                </div>
                </mdb-tab>
                <!--Panel 3-->
                <mdb-tab heading="<a class='list-group-item'> Description </a>">
                <div class="list-row">
                    <div class="col-12 waves-light" mdbWavesEffect>
                    <br>
                    <p class="h5"> content here </p>
                    <p>content 3</p>
                    </div>
                </div>
                </mdb-tab>
                <!--Panel 4-->
                <mdb-tab heading="<a class='list-group-item'> Website </a>">
                <div class="list-row">
                    <div class="col-12 waves-light" mdbWavesEffect>
                    <br>
                    <p class="h5"> content here </p>
                    <p>content 4</p>
                    </div>
                </div>
                </mdb-tab>
            </mdb-tabset>

        </mdb-card-body>
      </mdb-card>
    
    </div>
    <!--Grid column-->

</div>
  <!--Grid row-->