<!--Grid row-->
<div class="profile-card-row">
  <!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-6">

    <mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up indigo lighten-1">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
      </div>

      <mdb-card-body>
        <!--Name-->
        <mdb-card-title>
          <h4>Moniker</h4>
        </mdb-card-title>
        <hr>
        <!--Quotation-->
        <p>
          <i class="fas fa-quote-left"></i> Details</p>


        <!-- Nav tabs -->
        <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4 pills-secondary white mb-2'" [contentClass]="'card'">
          <!--Panel 1-->
          <mdb-tab heading="Operator address">
            <div class="row">
              <div class="col-12">
                <p>content 1</p>
              </div>
            </div>
          </mdb-tab>
          <!--Panel 2-->
          <mdb-tab heading="Delegator address">
            <div class="row">
              <div class="col-12">
                <p>content 2</p>
              </div>
            </div>
          </mdb-tab>
          <!--Panel 3-->
        </mdb-tabset>


      </mdb-card-body>
    </mdb-card>

  </div>
  <!--Grid column-->
  
</div>
<!--Grid row-->

</div>
<!--Grid row-->