
.card-title h1 {
    color: #4a4a4a;
}

a {
    color: #4a4a4a;
    font-size: 200%;
}

// .row {
//     background-color: transparent;
// }

.testimonial-card {
    max-width: 400px;
    // max-height: 800px;
    margin-bottom: 0;
}

.card {
    margin: 0;
}
