<!--Grid row-->
<!-- <div class="profile-card-row"> -->
  <!--Grid row-->
<!-- <div class="row"> -->

  <!--Grid column-->
  <!-- <div class="col-md-6"> -->
    <mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up indigo lighten-1">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="https://ui-avatars.com/api/?size=50&name={{validator.description.moniker}}" class="rounded-circle">
      </div>

      <mdb-card-body>
        <!--Name-->
        <mdb-card-title>
          <h1>{{validator.description?.moniker}}</h1>
          <a href="{{validator.description?.website}}" target=" "><i class="ion-social-chrome"></i></a>
        </mdb-card-title>
        <hr>
        <!--Quotation-->
        <p>
          <i class="fas fa-quote-left"></i>{{validator.description?.details}}
        </p>

        <!-- <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4 pills-secondary white mb-2'" [contentClass]="'card'">
          <mdb-tab heading="Operator address">
            <div class="row">
              <div class="col-12">
                <p>{{validator.operator_address}}</p>
              </div>
            </div>
          </mdb-tab>

          <mdb-tab heading="Delegator address">
            <div class="row">
              <div class="col-12">
                <p>{{validator.account?.value.address}}</p>
              </div>
            </div>
          </mdb-tab>
 
        </mdb-tabset> -->
      </mdb-card-body>
    </mdb-card>
  <!-- </div> -->
  <!--Grid column-->
  
<!-- </div> -->
<!--Grid row-->

<!-- </div> -->
<!--Grid row--> 