<div class="container">
  <div class="row">
    <div class="col">
      <app-horizontal-bar-chart></app-horizontal-bar-chart>
    </div>
    <!-- <div class="col">
      <app-line-chart></app-line-chart>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="col">
      <app-vertical-bar-chart></app-vertical-bar-chart>
    </div>
    <div class="col">
      <app-vertical-bar-chart></app-vertical-bar-chart>
    </div> -->
  </div>
</div>