<div class="row">
  <div class="col-xl-4 col-12 mb-5">   
    <div class="card card-cascade narrower">  
      <div class="view view-cascade gradient-card-header indigo">
        <canvas mdbChart
          height="197"
          width="394"
          [chartType]="blockChartType"
          [datasets]="blockChartDatasets"
          [labels]="blockChartLabels"
          [options]="radarChartOptions"
          [legend]="true"
          [colors]="blockChartColors">
        </canvas>
      </div>
      <mdb-card-body class="text-center">
        <span mdbTooltip="Last 100 blocks" placement="top">
          <i class="ion-ios-clock"></i>&nbsp;Block Time  
        </span>        
      </mdb-card-body>
    </div>
  </div>
  <div class="col-xl-4 col-12 mb-5">   
    <div class="card card-cascade narrower">  
      <div class="view view-cascade gradient-card-header blue-gradient">
        <canvas mdbChart
          height="197"
          width="394"
          [chartType]="commissionChartType"
          [datasets]="commissionChartDatasets"
          [labels]="commissionChartLabels"
          [options]="commissionChartOptions"
          [legend]="true"
          [colors]="commissionChartColors">
      </canvas>
      </div>
      <mdb-card-body class="text-center">
        <i class="ion-stats-bars"></i>&nbsp;Commission Distribution 
      </mdb-card-body>
    </div>
  </div>
  <div class="col-xl-4 col-12 mb-5">   
    <div class="card card-cascade narrower">  
      <div class="view view-cascade gradient-card-header mdb-color lighten-4">
        <canvas baseChart
          [datasets]="scatterChartData"
          [options]="scatterChartOptions"
          [chartType]="scatterChartType">
        </canvas>
      </div>
      <mdb-card-body class="text-center">
        <i class="ion-flash"></i>&nbsp;Voting Power
      </mdb-card-body>  
    </div>  
  </div>
</div>