
<div class="row">
  <div *ngFor="let proposal of proposals; let i = index" class="col-lg-4 col-md-12 mb-5">   
    <div class="card card-cascade narrower">    
      <div class="view view-cascade gradient-card-header mdb-color lighten-4">
        <canvas mdbChart
          height="197"
          width="394"
          [chartType]="govCharts.type"
          [data]="govCharts.datasets[i]"
          [labels]="govCharts.labels"
          [options]="govCharts.options"
          [legend]="true"
          [colors]="govCharts.colors">
        </canvas>
      </div>
      <div class="card-body card-body-cascade text-center">   
        Proposal {{ proposals[i].proposal_id }}
        <br>
        <span *ngIf="proposals[i].proposal_status==='Passed'">
          <mdb-badge color="green">{{ proposals[i].proposal_status }}</mdb-badge>
        </span>
        <span *ngIf="proposals[i].proposal_status==='Rejected'">
            <mdb-badge color="red">{{ proposals[i].proposal_status }}</mdb-badge>
        </span>
        <span *ngIf="proposals[i].proposal_status==='Voting Period'">
          <mdb-badge color="indigo">{{ proposals[i].proposal_status }}</mdb-badge>
        </span>
      </div>
    </div>
  </div>
</div>