
<div class="responsive-row row justify-content-center d-flex">
  <div *ngFor="let proposal of proposals; let i = index" class="col-lg-4 col-md-12 mb-5">   
    <mat-card>    
      <div class="view view-cascade gradient-card-header lighten-4">
        <canvas baseChart
          height="197"
          width="394"
          [chartType]="govCharts.type"
          [data]="govCharts.datasets[i]"
          [labels]="govCharts.labels"
          [options]="govCharts.options"
          [legend]="true"
          [colors]="govCharts.colors">
        </canvas>
      </div>
      <div class="card-body card-body-cascade text-center">   
        Proposal {{ proposals[i].proposal_id }}
        <br>
        <span *ngIf="proposals[i].proposal_status==='Passed'">
          <span class="badge bg-success">{{ proposals[i].proposal_status }}</span>
        </span>
        <span *ngIf="proposals[i].proposal_status==='Rejected'">
          <span class="badge bg-warning">{{ proposals[i].proposal_status }}</span>
        </span>
        <span *ngIf="proposals[i].proposal_status==='Voting Period'">
          <span class="badge bg-info">{{ proposals[i].proposal_status }}</span>
        </span>
      </div>
    </mat-card>
  </div>
</div>