<div class="row">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Placeholder #1
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Placeholder #2
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Placeholder #3
          <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>