<div class="card-deck row">
  <!--Card-->
  <mdb-card cascade="true">

    <!--Card image-->
    <div class="view view-cascade gradient-card-header purple-gradient">
      <h2 class="card-header-title">2000</h2>
      <p>Last Block</p>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="text-center">
      <!--Card content-->

      <mdb-card-text>
          <br>
        last updated: 
      </mdb-card-text>

    </mdb-card-body>
    <!--/.Card content-->

  </mdb-card>
  <!--/.Card-->
  
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Last Block</h5>
        </mdb-card-title>
        <mdb-card-text>20000</mdb-card-text>
      </mdb-card-body>
      <mdb-card-footer><small class="text-muted">Last updated 3 mins ago</small></mdb-card-footer>
    </mdb-card>
  
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Panel title</h5>
        </mdb-card-title>
        <mdb-card-text>This is a wider card with supporting text below as a natural lead-in to additional
          content. This
          content is a little bit longer.</mdb-card-text>
      </mdb-card-body>
      <mdb-card-footer><small class="text-muted">Last updated 3 mins ago</small></mdb-card-footer>
    </mdb-card>

    <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Panel title</h5>
          </mdb-card-title>
          <mdb-card-text>This is a wider card with supporting text below as a natural lead-in to additional
            content. This
            content is a little bit longer.</mdb-card-text>
        </mdb-card-body>
        <mdb-card-footer><small class="text-muted">Last updated 3 mins ago</small></mdb-card-footer>
      </mdb-card>
  </div>