<mat-card class="card-1 mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Transaction Detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Hash
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Status
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Height
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Timestamp
                <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Fee
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Gas (used/wanted)
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Memo
              <span class="badge badge-primary badge-pill">1</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card class="card-2 mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Activity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              From (or delegator)
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              To (or validator)
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Amount
              <span class="badge badge-primary badge-pill">1</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
  