
p {
  padding: 1px;
}

button {
  margin: 15px;
}

.card-header {
  background: #00796B;
}

.card-header p {
  margin-left: 6px;
}

p,
tbody {
  color: black;
}

.td-1 {
  color: #FC7D14;
}

.td-2 {
  color: white;
}


th:nth-child(1) {
  width: 5%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 15%;
}

th:nth-child(4) {
  width: 20%;
}
th:nth-child(5) {
  width: 20%;
}

th:nth-child(6) {
  width: 20%;
}

.list-group-item {
  color: black;
}

.success {
  color: #4CAF50;
}

.fail {
color: #F44336;/*#00796b;*/
}

.voting {
  color: #3F51B5;/*#00796b;*/
}
