<div class="card events-card">
  <header class="card-header">
    
    <p class="card-header-title"><i class="fas fa-users"></i>Validators</p>
  </header>
  <div class="card-table">
    <div class="content">
      <table class="table is-fullwidth is-striped">
        <tbody>
          <tr>
            <th>Moniker</th>
            <th>Power, Stake</th>
            <th>Proposer Priority</th>
          </tr>
          <tr  
            routerLink="/validator/{{validator.address}}"
            *ngFor="let validator of (appState | async).validators">
              <td>{{validator.data?.description.moniker}}</td>
              <td><a class="button is-small is-primary">{{validator.voting_power}}</a></td>
              <td><a class="button is-small is-primary">{{validator.proposer_priority}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>