<div class="row">
  <div class="field has-addons">
    <div class="control">
      <input class="input" placeholder = "Enter tx hash" #queryInputRef >
    </div>
    <div class="control">
      <a 
        class = "button is-info" 
        (click) = 'clickButton(queryInputRef.value)' >
          Search
      </a>
    </div>
  </div>
  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title"><i class="fas fa-exchange-alt"></i>Transactions</p>
<!--       <a routerLink="/new/tx" class="pagination-next button is-primary">New</a> -->
    </header>
    <div class="card-table">
      <table class="table is-fullwidth">
        <tbody>
          <tr>
            <th>Hash</th>
            <th>Type</th>
            <th>Fee</th>
            <th>Height</th>
            <th>Timestamp (UTC)</th>
          </tr>
          <tr *ngIf="!txs?.length">
            <td style="color: black">No recent txs</td>
          </tr>
        </tbody>
          <tr routerLink="/tx/{{tx.hash}}" class="clickable" *ngFor="let tx of txs">
            <td>{{tx.hash}}</td>
            <td>{{tx.gasUsed}}</td>
            <td>{{tx.gasWanted}}</td>
            <td>{{tx.height}}</td>
            <td>{{tx.height}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <button (click)="displayOlderTxs()" id="btn-older" class="pagination-next button is-dark">Older</button>
  </nav>
</div>
