.status-bar {
    // margin-top: 80px;
    margin-bottom: 10px;
}

.header-subtitle {
    font-size: 150%;
}

// @media screen and (max-width: 768px) {
//     .row {
//         max-width: 95%; /*1140px or in %*/
//     }
// }

.mdbTooltip {
    height: 35px !important;
    background-color: red !important;
    color: white !important;
    border-radius: 5px;
}