.status-bar {
    // margin-top: 80px;
    margin-bottom: 10px;
}

.header-subtitle {
    font-size: 150%;
}

.query-card-wrapper {
    padding: 20px;
}

// @media screen and (max-width: 768px) {
//     .row {
//         max-width: 95%; /*1140px or in %*/
//     }
// }