<section class="status-bar">
  <div class="row header-row" @dropDownAnimation>
    <!-- <h1 class="title header-title" [appBgHighlight]="'orange'" defaultColor="transparent">
      Coris Explorer 
    </h1> -->
    <h2 class="subtitle header-subtitle" @fadeInAnimation>{{(appState | async).blocks[0]?.header.chain_id}}</h2>
  </div>
  <!-- <app-universal-search-bar (onSelectedOption)="onSelectedFilter($event)"></app-universal-search-bar> -->
  <div class="row proposer-row">
    <div style="cursor: pointer;" routerLink="/validators" fragment="{{(appState | async).round.proposer?.address}}">
      <h2 *ngIf="(appState | async).valsMap.size" class="title proposer-title">
        <i class="ion-person"></i>&nbsp; Proposer - 
        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( (appState | async).round.proposer?.address ) : false; else elseBlockProposer">
            {{ (appState | async).valsMap.get( (appState | async).round.proposer?.address )}}
        </span>
        <ng-template #elseBlockProposer>{{ (appState | async).round.proposer?.address }}</ng-template> 
      </h2>
    </div>
  </div>
  <div @fadeInAnimation class="row-queries container">
    <div class="row" *ngIf="(appState | async).blocks.length; else elseBlock">
      <div class="col-12 col-lg-3 col-md-6 w-25 query-card-wrapper">
        <div style="cursor: pointer;" routerLink="/last-block" class="is-parent">
          <mat-card class="query-card" mdbTooltip="Latest Block Height" placement="top">
            <mat-card-header>
              <mat-card-title class="subtitle box-key" style="margin-left:-11px">
                <i class="ion-cube"></i>&nbsp;Last Block
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h3
                *ngFor="let block of (appState | async).blocks.reverse().slice(0,1)"
                class="title chain-queries-title box-value"
                [innerHTML]="block.header?.height !== null ? block.header.height : 0">
              </h3>
            </mat-card-content>
          </mat-card>                  
        </div>
      </div>
      <div class="col span-1-of-4">
        <mat-card class="query-card" mdbTooltip="Consensus State" placement="top">
          <mat-card-header>
            <mat-card-title class="subtitle box-key" style="margin-left:-11px">
              <i class="ion-load-a"></i>&nbsp;Consensus
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3 class="title chain-queries-title box-value">{{(appState | async).roundStep.step?.split('RoundStep')[1]}}</h3>
          </mat-card-content>
        </mat-card>                  
      </div>
      <div class="col span-1-of-4">
        <mat-card class="query-card" mdbTooltip="Total Active Validators" placement="top">
          <mat-card-header>
            <mat-card-title class="subtitle box-key" style="margin-left:-11px">
              <i class="ion-person-stalker"></i>&nbsp;Validators
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <h3 class="title chain-queries-title box-value">{{(appState | async).validators?.length}}</h3>
          </mat-card-content>
        </mat-card>    
      </div>
      <div class="col span-1-of-4">
          <mat-card class="query-card" mdbTooltip="Total Bonded Stake" placement="top">
            <mat-card-header>
              <mat-card-title class="subtitle box-key" style="margin-left:-11px">
                <i class="ion-soup-can"></i>&nbsp;Bonded
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3 class="title box-value" style="overflow: hidden; white-space: nowrap;">
                  {{ (appState | async).stakePool.bonded_tokens/1e6 | number:'.0-0'}}
                  ({{
                    (appState | async).stakePool.bonded_tokens/1e6
                    /((appState | async).stakePool.bonded_tokens/1e6 + (appState | async).stakePool.not_bonded_tokens/1e6) 
                    | percent: '.2-2'
                  }})
                  <!-- {{ (appState | async).stakePool.bonded_tokens/1e6 | number:'.0-0'}} -->
                </h3>
            </mat-card-content>
          </mat-card>                  
      </div>
    </div>
    <div class="row" *ngIf="(appState | async).blocks.length; else elseBlock">
      <div class="col-12 col-lg-3 col-md-6 w-25 query-card-wrapper">
        <div style="cursor: pointer;" routerLink="/last-block" class="is-parent">
          <mat-card class="query-card" mdbTooltip="Block Interval" placement="top">
            <mat-card-header>
              <mat-card-title class="subtitle box-key" style="margin-left:-11px">
                <i class="ion-ios-clock"></i>&nbsp;Block Time
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h3 class="title box-value">
                {{avgBlockTime | number: '.2-2'}} sec.
              </h3>
            </mat-card-content>
          </mat-card>                  
        </div>
      </div>
      <div class="col span-1-of-4">
        <mat-card class="query-card" mdbTooltip="Global Average Commission Rate" placement="top">
          <mat-card-header>
            <mat-card-title class="subtitle box-key" style="margin-left:-11px">
              <i class="ion-cash"></i>&nbsp;Community Pool
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3 class="title chain-queries-title box-value">
              {{ (appState | async).stakePool.community_pool?.amount/1e6 | number:'.0-0'}}
            </h3>
          </mat-card-content>
        </mat-card>                  
      </div>
      <div class="col span-1-of-4">
        <mat-card class="query-card" mdbTooltip="Inflation Rate" placement="top">
          <mat-card-header>
            <mat-card-title class="subtitle box-key" style="margin-left:-11px">
              <i class="ion-android-arrow-up"></i>&nbsp;Inflation
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <h3 class="title chain-queries-title box-value">{{inflation| percent: '.2-2'}}</h3>
          </mat-card-content>
        </mat-card>    
      </div>
      <div class="col span-1-of-4">
          <mat-card class="query-card" mdbTooltip="ATOM USD Price" placement="top">
            <mat-card-header>
              <mat-card-title class="subtitle box-key" style="margin-left:-11px">
                <i class="ion-social-usd"></i>&nbsp;Price
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3 class="title box-value" style="overflow: hidden; white-space: nowrap;">
                  $ {{ atomData?.quote.USD.price | number:'.2-2' }}
                  <!-- {{ (appState | async).stakePool.bonded_tokens/1e6 | number:'.0-0'}} -->
                </h3>
            </mat-card-content>
          </mat-card>                  
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div style="display: flex; justify-content: center;">
      <!-- <mat-spinner [diameter]="30"></mat-spinner> -->
      <mdb-spinner spinnerColor="blue"></mdb-spinner>
    </div> 
  </ng-template>
</section>