<section class="status-bar">
  <div class="row header-row">
    <h2 class="subtitle header-subtitle">
      {{(appState$ | async).network}}
    </h2>
  </div>
  <div class="row">
    <div class="proposer-row">
      <h2 *ngIf="(validatorsState$ | async).validatorsMap.size" 
          class="title proposer-title">
        <i class="ion-person"></i>&nbsp; Proposer - 
        <a href="javascript:undefined" (click)="openValidatorDialog( proposer)" style="cursor: pointer;">
          <span *ngIf="(validatorsState$ | async).validatorsMap.has( proposer ); else elseBlockProposer">
            {{ (validatorsState$ | async).validatorsMap.get( proposer )}}
          </span>
          <ng-template #elseBlockProposer>{{ proposer }}</ng-template> 
        </a>
      </h2>
    </div>
  </div>
  <div @fadeInAnimation class="container">
    <span *ngIf="(consensusState$ | async).height !== '0'; else elseBlock">
      <app-carousel></app-carousel>
    </span>
  </div>
  <ng-template #elseBlock>
    <div style="display: flex; justify-content: center;">
      <mdb-spinner spinnerColor="blue"></mdb-spinner>
    </div> 
  </ng-template>
</section>