.header-subtitle {
    font-size: 150%;
    margin-bottom: 0;
}

.proposer-title {
    vertical-align: middle;
}

.query-card-wrapper {
    padding: 20px 15px 0 0;
}

.mdbTooltip {
    height: 35px !important;
    background-color: red !important;
    color: white !important;
    border-radius: 5px;
}

.container {
    max-width: 95%; /*1140px or in %*/
    margin: 0 auto;
}

.row-queries {
    justify-content: center;
}

.card-header-title {
    color: black;
    font-size: 200%;
    text-align: center;
    display: inline-block;   
}

.card-body {
    padding: 0;
}

.card-text {
    margin-bottom: 0;
}


.col-12, .col-lg-3, .col-md-6, .w-25, .query-card-wrapper {
    padding-right: 0;
}

a:hover,
a:active {
    color: #FF4081;
    /* border-bottom: 1px solid transparent; */
    text-decoration: none; 
}

.left {
    float: left;
}

.right {
    float: right;
}

.mt-5 {
  margin-top: 5rem !important;
}