<section class="status-bar">
  <div class="row header-row">
    <!-- <h1 class="title header-title" [appBgHighlight]="'orange'" defaultColor="transparent">
      Coris Explorer 
    </h1> -->
      <h2 class="subtitle header-subtitle">{{(blocksState | async).blocks[0]?.header.chain_id}}</h2>
  </div>
  <!-- <app-universal-search-bar (onSelectedOption)="onSelectedFilter($event)"></app-universal-search-bar> -->
  <div class="row">
    <div class="proposer-row">
      <h2 *ngIf="(appState | async).valsMap.size" 
          class="title proposer-title">
        <i class="ion-person"></i>&nbsp; Proposer - 
        <a href="javascript:undefined" (click)="openValidatorDialog(proposer)" style="cursor: pointer;">
          <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( proposer ) : false; else elseBlockProposer">
            {{ (appState | async).valsMap.get( proposer )}}
        </span>
        <ng-template #elseBlockProposer>{{ proposer }}</ng-template> 
        </a>
      </h2>
    </div>
  </div>
  <div @fadeInAnimation class="container">
    <span *ngIf="(blocksState | async).blocks.length; else elseBlock">
      <app-carousel></app-carousel>
    </span>
  </div>
  <ng-template #elseBlock>
    <div style="display: flex; justify-content: center;">
      <mdb-spinner spinnerColor="blue"></mdb-spinner>
    </div> 
  </ng-template>
</section>