<h2 mat-dialog-title>Faucet Terms of Use</h2>
<mat-dialog-content class="mat-typography">
  <h3>The following terms of use apply</h3>

  <p>1. In order to ensure there are enough coins for everyone in the testnet and that there is a fair staking distribution, each validator and their delegators and welcome to withdraw in aggregate up to 2m tree from the public faucet.</p>

  <p>2. 2m tree is a soft limit and upon an accidental distribution that exceeds the 2m limit, there are no penalties or repercussions if the tokens are returned to the faucet address within a reasonable time-frame.</p>

  <p>3. Using the faucet beyond this 2m limit without returning excess tokens will result in disqualification from testnet rewards.</p>

  <h3>Notes</h3>

  <p>Regen Network Development, Inc. reserves the right to make adjustments to the above point structure to ensure the health of the testnet program, such as accomodating unforeseen events such as halts the testnet prior to a particular goal being reached, as well as to add additional point-earning activities as such activities become available on the testnet.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
