<section>
    <div class="popup-row row">
      <div class="col-12">  
        <mdb-card class="card-1 mat-elevation-z8">
            <mdb-card-header>
                <mdb-card-title>Block {{ block.height }}</mdb-card-title>
            </mdb-card-header>
            <mdb-card-body>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Hash
                        <h3 class="glance-title"><mdb-badge color="pink">
                          {{ block.hash | slice:0:15 }} ...
                          <i 
                            class="ion-ios-copy copy-button" 
                            style="cursor: pointer;" 
                            ngxClipboard 
                            [cbContent]="block.hash" 
                            (click)="onCopySucceess()"
                            mdbTooltip="copy to clipboard" mdbTooltipPosition="above">
                          </i>
                        </mdb-badge></h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proposer
                        <h3 class="glance-title"><mdb-badge color="pink">
                          <span *ngIf="(appState | async).valsMap.size 
                            ? (appState | async).valsMap.has(block.proposer) 
                            : false; else elseBlockProposer"
                          style="cursor: pointer;"
                          (click)="openValidatorDialog( block.proposer )">
                          {{ (appState | async).valsMap.get(block.proposer) }}
                          </span>
                          <ng-template #elseBlockProposer>{{block.proposer}}</ng-template>
                        </mdb-badge>
                      </h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Transactions
                        <h3 class="glance-title"><mdb-badge color="pink">{{ block.txs }}</mdb-badge></h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Timestamp
                        <h3 class="glance-title"><mdb-badge color="pink">{{ block.time | ago | async }}</mdb-badge></h3>
                    </li>
                </ul>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-12">
      <div class="my-5">
        <mdb-card alignment="left" class="mat-elevation-z8">
          <mdb-card-header>
            <mdb-card-title>Transactions</mdb-card-title>
          </mdb-card-header>
          <mdb-card-body>
            <mat-tab-group (selectedTabChange)="onTabChange($event);">
                  <mat-tab label="All">
                    <div class="row table-responsive text-nowrap scrollbar-primary">
                      <table mat-table [dataSource]="txsDataSource" class="table large-header">
                        <ng-container matColumnDef="hash">
                          <th mat-header-cell *matHeaderCellDef> Hash </th>
                          <td (click)="openTxDialog(tx)" style="cursor: pointer;" mat-cell *matCellDef="let tx">
                          {{ tx.hash | slice:0:12 }}...
                          </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="type">
                          <th mat-header-cell *matHeaderCellDef> Type </th>
                          <td mat-cell *matCellDef="let tx">
                            <p *ngFor="let action of tx.action">
                              {{ action }}
                            </p>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="txsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: txsDisplayedColumns;"></tr>
                      </table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Transfer">
                    <div class="row table-responsive text-nowrap scrollbar-primary">
                      
                    </div>
                  </mat-tab>
                  <mat-tab label="Staking">
                    <div class="row table-responsive text-nowrap scrollbar-primary">
                      
                    </div>
                  </mat-tab>
                  <mat-tab label="Distribution">
                    <div class="row table-responsive text-nowrap scrollbar-primary">
                      
                    </div>
                  </mat-tab>
                  <mat-tab label="Governance">
                    
                  </mat-tab>
                  <mat-tab label="Slashing">
                    <div class="row table-responsive text-nowrap scrollbar-primary">
                      
                    </div>
                  </mat-tab>
            </mat-tab-group>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>
      