.card-title {
  margin: 0;
  font-size: 130%;
}


.glance-title {
  margin: 0 !important
}

.copy-button {
  color:#3F51B5;
}

.copy-button:hover,
.copy-button:active {
  color:#7986cb;
  /* border-bottom: 1px solid transparent; */
}