<div class="row">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="validator.outstanding_rewards">
        Rewards
        <span class="badge badge-primary badge-pill">{{validator.outstanding_rewards[0].amount/1e6 | number:'.2-2'}} <span class="badge-ticker">ATOM</span></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Outstanding Rewards 
        <span class="badge badge-primary badge-pill">{{validator.rewards[0].amount/1e6 | number:'.2-2'}} <span class="badge-ticker">ATOM</span></span>
      </li>
      <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
        Placeholder #3
        <span class="badge badge-primary badge-pill">1</span>
      </li> -->
  </ul>
</div>