<div class="container my-3">
  <div class="jumbotron text-center card">
    <h2 class="card-title h2">
      Serving from <mat-chip class="chip" color = "primary" selected>{{((faucet$|async).address)}}</mat-chip><br>
      <!-- Balance <mat-chip class="chip" color = "primary" selected>{{((faucet$|async).coins[0].amount | number:'.0-0')}} {{((faucet$|async).coins[0].denom)}}</mat-chip> -->
    </h2>
    <hr class="my-4">
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
      <!-- Grid column -->
      <div class="col-12 pb-2">
        <p class="mat-card-content">
          Faucet sends out 1,000,000 tree per request.
        </p>
        <div class="col-auto">
          <!-- Material input -->
          <div class="xl-form input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text md-addon">xrn:</span>
            </div>
            <input #addrInputRef mdbInput type="text" class="form-control pl-0 rounded-0" id="inlineFormInputGroupMD" placeholder="Enter account address">
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div *ngIf="!statusSent">
      <p>
        <mat-checkbox (change)="OnChange($event)" class="px-1"></mat-checkbox>Accept our <a (click)="openDialog()">terms use</a>.
      </p>
      <button [disabled]="!statusCanSend" mat-raised-button color="primary" (click)="onFaucetRequest(addrInputRef.value)">Claim</button>
    </div>
    
    <re-captcha #captchaRef size="invisible" (resolved)="resolved($event)"></re-captcha>
    
    <hr class="my-4">
    <div class="text-left pt-1">
      Status: {{statusText}}
    </div>

  </div>
</div>