<div class="row">
  <!-- Block Time Chart -->
  <div class="col-xl-4 col-12 mb-5">   
    <mat-card class="card card-cascade narrower">  
      <mat-card-content class="view view-cascade gradient-card-header">
        <canvas baseChart
          height="197"
          width="394"
          [chartType]="blockChartType"
          [datasets]="blockChartDatasets"
          [labels]="blockChartLabels"
          [options]="blockChartOptions"
          [legend]="true"
          [colors]="blockChartColors">
        </canvas>
        <mat-card-footer class="my-3 text-center">
          <span matTooltip="Last 100 blocks" placement="top">
            <i class="ion-ios-clock"></i>&nbsp;Block Time  
          </span>  
        </mat-card-footer>      
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Commission Chart -->
  <div class="col-xl-4 col-12 mb-5">   
    <mat-card class="card card-cascade narrower">  
      <mat-card-content class="view view-cascade gradient-card-header">
        <canvas baseChart
          height="197"
          width="394"
          [chartType]="commissionChartType"
          [datasets]="commissionChartDatasets"
          [labels]="commissionChartLabels"
          [options]="commissionChartOptions"
          [legend]="true"
          [colors]="commissionChartColors">
        </canvas>
        <mat-card-footer class="my-3 text-center">
          <i class="ion-stats-bars"></i>&nbsp;Commission Distribution 
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Voting Power Chart -->
  <div class="col-xl-4 col-12 mb-5">   
    <mat-card class="card card-cascade narrower">  
      <mat-card-content class="view view-cascade gradient-card-header">
        <canvas baseChart
          [datasets]="scatterChartData"
          [options]="scatterChartOptions"
          [chartType]="scatterChartType"
          [labels]="scatterChartLabels"
          [colors]="scatterChartColors">
        </canvas>
        <mat-card-footer class="my-3 text-center">
          <i class="ion-flash"></i>&nbsp;Voting Power
        </mat-card-footer>
      </mat-card-content>
    </mat-card>  
  </div>
</div>