<!--The content below is only a placeholder and can be replaced.-->
<!-- START NAV -->
<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" routerLink="/">Dashboard</a>
      <a class="navbar-item" routerLink="/validators">Validators</a>
      <a class="navbar-item" routerLink="/blocks">Blocks</a>
      <a class="navbar-item" routerLink="/txs">Txs</a>
    </div>
  </div>
</nav>
<!-- END NAV -->
<div class="container">
  <div class="main-container column is-12">
    <section class="hero is-info welcome is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Coris - Tendermint Explorer
          </h1>
          <h2 class="subtitle">Chain: {{(appState | async).blocks[0]?.header.chain_id}}</h2>
        </div>
      </div>
    </section>
    <section class="is-info is-small">
      <div class="hero-body">
        <div class="container" style="cursor: pointer;" routerLink="/validator/{{(appState | async).round.proposer?.address}}">
          <h2 class="subtitle">Proposer: {{(appState | async).round.proposer?.address}}</h2>
        </div>
      </div>
    </section>
    <section class="info-tiles">
      <div class="tile is-ancestor has-text-centered">
        <div style="cursor: pointer;" routerLink="/last-block" class="tile is-parent">
          <article class="tile is-child box">
            <!-- <p class="title">{{(appState | async).round?.height}}</p> -->
            <p 
              *ngFor="let block of (appState | async).blocks.reverse().slice(0,1)" 
              class="title" 
              [innerHTML]="block.header?.height !== null ? block.header.height : 0"></p>
            <p class="subtitle">Last Block</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{(appState | async).roundStep.step?.split('RoundStep')[1]}}</p>
            <p class="subtitle">Round {{(appState | async).roundStep.round}}</p>
          </article>
        </div>
         <div style="cursor: pointer;" routerLink="/validators" class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{(appState | async).validators?.length}}</p>
            <p class="subtitle">Validators</p>
          </article>
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Coris - 2019
    </p>
  </div>
</footer>

