html, body {
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: #ECF0F3;
}

h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.card-header-title {
  color: #8F99A3;
  font-weight: 400;
}
.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 300;
  color: #8F99A3;
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;
}
.card-table .table {
  margin-bottom: 0;
}
.events-card .card-table {
  /*max-height: 500px;*/
  overflow-y: scroll;
}

.footer {
  background-color: #8f969e;
  color: #ffff;
}

.main-container {
  min-height: 76vh;
}