<section>
    <app-btn-close [link]="'proposal/'+proposal.proposal_id" [dialogRef]="dialogRef"></app-btn-close>
    <div class="popup-row row main-row">
        <div class="px-0 col-md-4">
          <div class="mb-5">
            <mdb-card style="max-width: 100%;" class="text-left mat-elevation-z8 mb-3">
                <mdb-card-header>
                  <mdb-card-title>Detail</mdb-card-title>
                </mdb-card-header>
                <mdb-card-body>
                  <mdb-card-title>
                    <h5 class="proposal-title mb-3">
                      {{proposal.proposal_content.value.title}}
                    </h5>
                  </mdb-card-title>
                  <mdb-card-text class="mb-0 text-left">
                    {{proposal.proposal_content.value.description}}
                  </mdb-card-text>
                  <ul class="list-group">
                    <li *ngIf="proposal.proposer" class="list-group-item d-flex justify-content-between align-items-center">
                      Proposer
                      <h3 style="cursor: pointer;" (click)="openAccountDialog(proposal.proposer)" class="glance-title"><mdb-badge color="pink">
                        <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( proposal.proposer ) : false; else elseVetoVoter">
                          {{ (appState | async).valsMap.get( proposal.proposer )}}
                        </span>
                        <ng-template #elseVetoVoter>{{proposal.proposer}}</ng-template>
                      </mdb-badge></h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Deposit
                      <h3 class="glance-title"><mdb-badge color="pink">{{proposal.total_deposit[0].amount/1e6 | number:".2-2"}} ATOM</mdb-badge></h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Status
                      <h3 class="glance-title"><mdb-badge color="pink">
                        {{proposal.proposal_status}}
                      </mdb-badge></h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Voting Start
                      <h3 class="glance-title"><mdb-badge color="pink">{{ proposal.voting_start_time | date :'short' }}</mdb-badge></h3>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Voting End
                      <h3 class="glance-title"><mdb-badge color="pink">{{ proposal.voting_end_time | date :'short' }}</mdb-badge></h3>
                    </li>
                  </ul>
                </mdb-card-body>
            </mdb-card>
          </div>
          <div class="mb-5">
              <mdb-card class="mat-elevation-z8 mb-3">
                <mdb-card-header>
                  <mdb-card-title>At a Glance</mdb-card-title>
                </mdb-card-header>
                <mdb-card-body>
                  <div style="display: block" class="row">
                    <canvas mdbChart
                      [chartType]="chartType"
                      [datasets]="chartDatasets"
                      [labels]="chartLabels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
                  </div>
                </mdb-card-body>
              </mdb-card>
          </div>
        </div>

        <div class="px-0 col-md-8">
            <div class="mb-5">
              <mdb-card alignment="left" class="mat-elevation-z8 mb-3">
                <mdb-card-header>
                  <mdb-card-title>Votes</mdb-card-title>
                </mdb-card-header>
                <mdb-card-body>
                  <div class="card-body">
                    <mat-tab-group (selectedTabChange)="onTabChange($event);">
                            <mat-tab label="All">
                              <div class="row table-responsive text-nowrap">
                                <table mat-table [dataSource]="votesDataSource" class="table large-header">
                                  <ng-container matColumnDef="voter">
                                    <th mat-header-cell *matHeaderCellDef> Voter </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote">
                                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                        {{ (appState | async).valsMap.get( vote.voter )}}
                                      </span>
                                      <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                    </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="vote">
                                    <th mat-header-cell *matHeaderCellDef> Vote </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                                </table>
                              </div>
                            </mat-tab>
                            <mat-tab label="Yes">
                              <div class="row table-responsive text-nowrap">
                                <table mat-table [dataSource]="votesDataSource" class="table large-header">
                                  <ng-container matColumnDef="voter">
                                    <th mat-header-cell *matHeaderCellDef> Voter </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote"> 
                                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                        {{ (appState | async).valsMap.get( vote.voter )}}
                                      </span>
                                      <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                    </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="vote">
                                    <th mat-header-cell *matHeaderCellDef> Vote </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                                </table>
                              </div>
                            </mat-tab>
                            <mat-tab label="No">
                              <div class="row table-responsive text-nowrap">
                                <table mat-table [dataSource]="votesDataSource" class="table large-header">
                                  <ng-container matColumnDef="voter">
                                    <th mat-header-cell *matHeaderCellDef> Voter </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote">
                                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                        {{ (appState | async).valsMap.get( vote.voter )}}
                                      </span>
                                      <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                    </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="vote">
                                    <th mat-header-cell *matHeaderCellDef> Vote </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                                </table>
                              </div>
                            </mat-tab>
                            <mat-tab label="NoWithVeto">
                              <div class="row table-responsive text-nowrap">
                                <table mat-table [dataSource]="votesDataSource" class="table large-header">
                                  <ng-container matColumnDef="voter">
                                    <th mat-header-cell *matHeaderCellDef> Voter </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote">
                                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                        {{ (appState | async).valsMap.get( vote.voter )}}
                                      </span>
                                      <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                    </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="vote">
                                    <th mat-header-cell *matHeaderCellDef> Vote </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                                </table>
                              </div>
                            </mat-tab>
                            <mat-tab label="Abstain">
                              <div class="row table-responsive text-nowrap">
                                <table mat-table [dataSource]="votesDataSource" class="table large-header">
                                  <ng-container matColumnDef="voter">
                                    <th mat-header-cell *matHeaderCellDef> Voter </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote">
                                      <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( vote.voter ) : false; else elseVetoVoter">
                                        {{ (appState | async).valsMap.get( vote.voter )}}
                                      </span>
                                      <ng-template #elseVetoVoter>{{ vote.voter }}</ng-template>
                                    </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="vote">
                                    <th mat-header-cell *matHeaderCellDef> Vote </th>
                                    <td style="cursor:pointer;" (click)="openAccountDialog(vote.voter)" mat-cell *matCellDef="let vote"> {{vote.option}} </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="votesDisplayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: votesDisplayedColumns;"></tr>
                                </table>
                              </div>
                            </mat-tab>
                    </mat-tab-group>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </mdb-card-body>
              </mdb-card>
            </div>
            <div class="mb-5">
              <mdb-card alignment="left" class="mat-elevation-z8 mb-3">
                <mdb-card-header>
                  <mdb-card-title>Deposit</mdb-card-title>
                </mdb-card-header>
                <mdb-card-body>
                  <div class="card-body">
                    <div class="row table-responsive text-nowrap">
                          <table mat-table [dataSource]="depositDataSource" class="table large-header">
                            <ng-container matColumnDef="depositor">
                              <th mat-header-cell *matHeaderCellDef> Depositor </th>
                              <td style="cursor:pointer;" (click)="openAccountDialog(deposit.depositor)" mat-cell *matCellDef="let deposit"> 
                                <span *ngIf="(appState | async).valsMap.size ? (appState | async).valsMap.has( deposit.depositor ) : false; else elseVetoVoter">
                                  {{ (appState | async).valsMap.get( deposit.depositor )}}
                                </span>
                                <ng-template #elseVetoVoter>{{ deposit.depositor }}</ng-template> 
                              </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="amount">
                              <th mat-header-cell *matHeaderCellDef> Amount </th>
                              <td mat-cell *matCellDef="let deposit"> 
                                {{deposit.amount[0].amount}} {{deposit.amount[0].denom}}
                              </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="depositDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: depositDisplayedColumns;"></tr>
                          </table> 
                          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                  </div>
                </mdb-card-body>
              </mdb-card>
            </div>
        </div>
    </div>
</section>