mat-card {
    max-width: 100%;
    background-color: white;
    width: 800px;
}

li {
    max-height: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voters-list {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.proposal-title {
    font-weight: 300;
    font-size: 120%;
}

.card.card-cascade {
    .view {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    }
}

.card-title {
    margin: 0;
    font-size: 130%;
}

.card-title h5 {
    color: black;
}

.glance-title {
    margin: 0 !important
}