<div class="main-row">
  <mat-card>
        <mat-card style="max-width: 100%; background-color: white">
          <div style="display: block" class="row">
            <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </mat-card>
  </mat-card>
</div>
