<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button
      mat-icon-button 
      (click)="onToggle()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div fxLayout="row" fxFlex.xs fxLayoutAlign="end">
    <a><img src="../../../../assets/img/Coris_logo.png" class="logo"></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li><a routerLink="/validators">Validators</a></li>
      <li><a routerLink="/blocks">Blocks</a></li>
      <li><a routerLink="/txs">Transactions</a></li>
    </ul>
  </div>
</mat-toolbar>  