<section>
    <app-btn-close [link]="'validator/'+validator.operator_address" [dialogRef]="dialogRef"></app-btn-close>
    <div class="popup-row row">
        <div class="px-0 p-lg-3 col-lg-6 col-md-12">
          <mat-card cdkDrag>
            <div class="avatar mx-auto">
              <img 
                src="https://ui-avatars.com/api/?size=50&name={{validator.description.moniker}}" 
                class="rounded-circle">
            </div>
      
            <mat-card-content>
              <mat-card-title>
                <h1>{{ validator.description.moniker }}</h1>
                <a *ngIf="validator.description.website" href="{{ validator.description.website }}" target=" "><i class="ion-social-chrome"></i></a>
              </mat-card-title>
              <hr>
              <p>
                <i class="fas fa-quote-left"></i>&nbsp;{{ validator.description.details }}
              </p>
      
              <mat-tab-group>
                <mat-tab heading="Operator address">
                  <div class="row">
                    <div class="col-12">
                      <p>{{ validator.operator_address }}</p>
                    </div>
                  </div>
                </mat-tab>
      
                <mat-tab heading="Delegator address">
                  <div class="row">
                    <div class="col-12">
                      <p (click)="openDelegatorDialog(validator.account.value.address)"
                          style="cursor:pointer;">
                        {{ validator.account.value.address }}
                      </p>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="px-0 p-lg-3 col-lg-6 col-md-12">
            <mat-card cdkDrag alignment="left" class="rounded-0">
              <mat-card-header class="rounded-0">
                <mat-card-title>Delegations</mat-card-title>
              </mat-card-header>
              <mat-card-content class="bg-transparent px-0 p-lg-3 col-12">
                <div class="card-body">
                  <div class="row table-responsive text-nowrap">
                        <table mat-table [dataSource]="delegationsDataSource" class="table large-header">
                          <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef> Address </th>
                            <td (click)="openDelegatorDialog(delegation.delegator_address)"
                                style="cursor:pointer;" 
                                mat-cell 
                                *matCellDef="let delegation">   
                              <span *ngIf="(validatorsState | async).validatorsMap.size ? (validatorsState | async).validatorsMap.has( delegation.delegator_address ) : false; else elseVetoVoter">
                                {{ (validatorsState | async).validatorsMap.get( delegation.delegator_address )}}
                              </span>
                              <ng-template #elseVetoVoter>
                                {{ delegation.delegator_address }}
                              </ng-template> 
                            </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                            <td mat-cell *matCellDef="let delegation"> 
                              {{ delegation.shares/1e6 | number:'.2-2' }}
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="delegationsDisplayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: delegationsDisplayedColumns;"></tr>
                        </table> 
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
              </mat-card-content>            
            </mat-card>
        </div>
        <div class="px-0 p-lg-3 col-lg-6 col-md-12">
            <mat-card cdkDrag alignment="left" class="rounded-0">
            <mat-card-header class="rounded-0">
              <mat-card-title>At a Glance</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="red">
                      Rank
                    </span>
                    <h4>{{ validator.rank }}</h4>
                  </div>
                  <div class="col-sm-4 col-12">
                      <span class="badge" color="cyan">
                        Voting Power
                      </span>
                    <h4>{{ validator.tokens/1e6 | number:'.0-0' }}</h4>
                  </div>
                  <div class="col-sm-4 col-12">
                      <span class="badge" color="amber darken-2">
                          Delegators
                      </span>
                    <h4>
                      <span *ngIf="validator.delegations; else elseBlock">
                        {{ validator.delegations.length | number:'.0-0' }}
                      </span>
                      <ng-template #elseBlock>
                        0
                      </ng-template>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="lime">
                        Balance
                    </span>
                    <h4>
                      <span *ngIf="validator.account.type; else balanceElseBlock" 
                              matTooltipPosition="above">
                        {{ validator.account.value.coins[0].amount /1e6 | number:'.2-2'}}
                      </span>
                      <ng-template #balanceElseBlock>
                        0
                      </ng-template>
                    </h4>
                  </div>
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="purple darken-2">
                        Rewards
                    </span>
                    <h4 *ngIf="validator.rewards">
                      {{validator.rewards[0].amount/1e6 | number:'.2-2'}}
                    </h4>
                  </div>
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="indigo">
                      Outstanding Rewards
                    </span>
                    <h4 *ngIf="validator.outstanding_rewards">
                      {{validator.outstanding_rewards[0].amount/1e6 | number:'.2-2'}} 
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="teal">
                      Commission
                    </span>
                    <h4> {{ validator.commission?.rate | percent }} </h4>
                  </div>
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="yellow darken-2">
                      Commision Max
                    </span>
                    <h4>{{ validator.commission?.max_rate | percent }}</h4>
                  </div>
                  <div class="col-sm-4 col-12">
                    <span class="badge" color="brown">
                      Commision Max Rate
                    </span>
                    <h4>{{ validator.commission?.max_change_rate | percent }}</h4>
                  </div>
                </div>
              </div>
            </mat-card-content>
            </mat-card>
        </div>
        <div class="px-0 p-lg-3 col-lg-6 col-md-12">
            <mat-card cdkDrag alignment="left" class="rounded-0">
              <mat-card-header class="rounded-0">
                <mat-card-title>Transactions</mat-card-title>
              </mat-card-header>
              <mat-card-content class="px-0 p-lg-3 col-12">
                <div class="card-body">
                          <mat-tab-group (selectedTabChange)="onTabChange($event);">
                            <mat-tab label="Staking">
                              <table mat-table [dataSource]="accountDataSource" class="table large-header">
                                <ng-container matColumnDef="hash">
                                  <th mat-header-cell *matHeaderCellDef> Hash </th>
                                  <td mat-cell *matCellDef="let tx">
                                    <span (click)="openTxDialog(tx.txhash)" style="cursor: pointer;" >
                                      {{ tx.txhash }}
                                    </span>
                                    <i  class="ion-ios-copy copy-button" 
                                        style="cursor: pointer;" 
                                        ngxClipboard [cbContent]="tx.txhash" 
                                        (click)="onCopySuccess()">
                                    </i>
                                  </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="height">
                                  <th mat-header-cell *matHeaderCellDef> Height </th>
                                  <td mat-cell *matCellDef="let tx"> 
                                    {{ tx.height }} 
                                  </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="accountDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: accountDisplayedColumns;"></tr>
                              </table>
                            </mat-tab>
                            <mat-tab label="Transfer">
                              <table mat-table [dataSource]="accountDataSource" class="table large-header">
                                <ng-container matColumnDef="hash">
                                  <th mat-header-cell *matHeaderCellDef> Hash </th>
                                  <td mat-cell *matCellDef="let tx">
                                    <span (click)="openTxDialogHash(tx.txhash)" style="cursor: pointer;" >
                                      {{ tx.txhash }}
                                    </span>
                                    <i  class="ion-ios-copy copy-button" 
                                        style="cursor: pointer;" 
                                        ngxClipboard [cbContent]="tx.txhash" 
                                        (click)="onCopySuccess()">
                                    </i>
                                  </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="height">
                                  <th mat-header-cell *matHeaderCellDef> Height </th>
                                  <td mat-cell *matCellDef="let tx"> 
                                    {{ tx.height }} 
                                  </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="accountDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: accountDisplayedColumns;"></tr>
                              </table>
                            </mat-tab>
                          </mat-tab-group>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
              </mat-card-content>
            </mat-card>
        </div>   
  </div>
</section>

