<div class="row">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Operator address
        <span class="badge badge-primary badge-pill">{{validator.operator_address}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Delegator address
        <span class="badge badge-primary badge-pill">{{validator.account?.value.address}}</span>
      </li>
      <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
        Placeholder #3
        <span class="badge badge-primary badge-pill">1</span>
      </li> -->
  </ul>
</div>