<!-- <app-chart-cards></app-chart-cards> -->
<div class="row main-row" *ngIf="true; else elseBlock">
  <!-- @aakatev	
    https://github.com/cosmos/cosmos-sdk/blob/9a16e2675f392b083dd1074ff92ff1f9fbda750d/types/staking.go
    Unbonded  BondStatus = 0x00
    Unbonding BondStatus = 0x01
    Bonded BondStatus = 0x02 
  -->
  <!-- <div class="dropdown" mdbDropdown>
    <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" size="sm"
      mdbWavesEffect>
      Status
    </button>
  
    <div class="dropdown-menu" value="bonded">
      <a class="dropdown-item" (click)="validatorsBondFilter(2)" value="bonded">Bonded</a>
      <a class="dropdown-item" (click)="validatorsJailedFilter(true)" value="jailed">Jailed</a>
      <a class="dropdown-item" (click)="validatorsFilter(0, false)" value="unbonded">Unbonded</a>
      <a class="dropdown-item" (click)="validatorsBondFilter(1)" value="unbonding">Unbonding</a>
      <a class="dropdown-item" (click)="validatorsNoFilter()" value="all">All</a>
    </div>
  </div> -->

  <div class="example-container mat-elevation-z8 scrollbar-primary table-responsive text-nowrap">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 w-auto">

      <ng-container matColumnDef="rank">
        <th mat-sort-header="rank" mat-header-cell *matHeaderCellDef><i class="ion-android-funnel"></i></th>
        <td mat-cell *matCellDef="let validator"> {{validator.rank}} </td>
      </ng-container>
  
      <ng-container  matColumnDef="moniker" sticky>
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-at"></i>&nbsp;Name</th>
        <td mat-cell *matCellDef="let validator"> 
          <span>
            <div class="chip validator-avatar is-128x128">
                <img  *ngIf="!validator.picture; else elseBlock" 
                      src="https://ui-avatars.com/api/?size=50&name={{validator.description.moniker}}" 
                      alt="avatar"> 
                {{validator.description.moniker | slice:0:12 }}
              </div>
          </span>
        </td>
      </ng-container>
    
      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-load-a"></i>&nbsp;Status</th>
        <td mat-cell *matCellDef="let validator">  
          <span *ngIf="validator.jailed"><i class="ion-record jailed"></i></span>
          <span *ngIf="!validator.jailed"><i class="ion-record jailedNot"></i></span>
          <span *ngFor="let block of (appState | async).blocks.slice(0,1)">
          {{
            block.header?.height !== null
            ? (100-validator.slashing?.missed_blocks_counter/(block.header.height-validator.slashing?.start_height) | number:'.0')
            : 0
          }} %
          </span>
        </td>
      </ng-container> -->
    
      <ng-container matColumnDef="weight">
        <th mat-sort-header="tokens" mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-flash"></i>&nbsp;Voting Weight</th>
        <td mat-cell *matCellDef="let validator">
          {{validator.tokens/1e6 | number:'.0-0'}}&nbsp;<span class="table-subtitle">({{validator.tokens/(appState | async).totalStake| percent:'.2-2'}})</span>
        </td>
      </ng-container>
    
      
  
      <ng-container matColumnDef="assets">
        <th mat-sort-header="account.tokens" mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-social-usd"></i>&nbsp;Assets</th>
        <td mat-cell *matCellDef="let validator">
          <span matTooltip="Balance" matTooltipPosition="above">
            {{ 
              (validator.distribution?.balance ? 
                (validator.distribution?.balance[0].amount)/1e6 :
                '0')                 
                | number:'.2-2' 
            }}
          </span>
          <span class="ticker"> ATOM</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delegators">
        <th mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-person-stalker"></i>&nbsp;Delegators</th>
        <td mat-cell *matCellDef="let validator"> 
          <span *ngIf="validator.delegations; else otherBlock">
            {{validator.delegations?.length}}
          </span>
          <ng-template #otherBlock>
            <span>-</span>
          </ng-template>
        </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="unbond">
        <th  mat-header-cell *matHeaderCellDef class="th-lg"> 
          <i class="ion-log-out"></i>Unbond 
        </th>
        <td  mat-cell *matCellDef="let validator">
          {{ validator.unbonding_total/1e6 | number:'.0-0'}} <span class="ticker">ATOM</span>
          <br>
          <span class="table-subtitle" matTooltip="Completion Time" matTooltipPosition="above"><i class="ion-android-time"></i>&nbsp;
            {{validator.unbonding_time | date: "MMM d, y"}}
          </span>
        </td>
      </ng-container> -->
      
      <ng-container matColumnDef="bond">
        <th mat-sort-header="self_bond" mat-header-cell *matHeaderCellDef class="th-lg"><i class="ion-log-in"></i>&nbsp;Self-Bond</th>
        <td mat-cell *matCellDef="let validator">
          {{validator.self_bond/1e6 | number:'.0-0'}} <span class="ticker">ATOM</span>
        </td>
      </ng-container>
          
      <ng-container matColumnDef="commission">
        <th mat-header-cell *matHeaderCellDef><i class="ion-cash"></i>&nbsp;Commission</th>
        <td mat-cell *matCellDef="let validator">
          <span matTooltip="Current Rate" matTooltipPosition="above">{{validator.commission?.rate | percent}}</span>
          <span class="table-subtitle">&nbsp;({{validator.commission?.max_rate | percent}} - {{validator.commission?.max_change_rate | percent}})</span>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
          *matRowDef="let validator; columns: displayedColumns;"
          [appBgHighlight]="'#d1d1d1'" 
          defaultColor="#ffffff">
      </tr>
    </table>
  </div>

  <div class="row paginator">
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

</div>
<ng-template #elseBlock>
  <div style="display: flex; justify-content: center;">
    <mdb-spinner spinnerColor="blue"></mdb-spinner>
  </div> 
</ng-template>