<div class="row">
  <div class="field is-grouped">
    <p class="control">
        <a 
        class="button is-primary tag" 
        (click)="sortByPower()"
        style="font-size: 2rem;">
          Sort By Power
      </a>
    </p>
  </div>
  <div class="card events-card">
      <div class="card-header">
        <p class="card-header-title"><i class="fas fa-vector-square"></i>Validators</p>
      </div>
      <div class="card-table">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th >Name</th>
                <th>Status/Uptime</th>
                <th>Voting Weight</th>
                <th>Precommits</th>
                <!-- <th>Self-bond</th> -->
                <th>Delegators</th>
                <th>Commission</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let validator of (appState | async).validators"
              class="validator-card"
              id="{{validator.keys?.Addres}}">
                <td class="td-1">
                  <div class="col span-1-of-2">
                      <figure class="validatoe-avatar is-128x128" *ngIf="validator.keybase">
                          <img  *ngIf="!validator.picture; else elseBlock" 
                            src="https://ui-avatars.com/api/?size=50&name={{validator.description.moniker}}" 
                            alt="avatar"
                          >
                          <ng-template #elseBlock>
                            <img src="{{validator.picture}}" alt="avatar">
                          </ng-template>
                      </figure>
                  </div>
                  <div class="col span-1-of-2">
                      {{validator.description.moniker}}
                  </div>
                </td>
                <td class="td-2">
                  <span *ngIf="validator.jailed">Jailed</span>
                  <span *ngIf="!validator.jailed">Not-Jailed</span>
                  <br>
                  <span
                    *ngFor="let block of (appState | async).blocks.slice(0,1)"
                    [innerHTML]=
                    "block.header?.height !== null
                    ? 100-validator.slashing?.missed_blocks_counter/(block.header.height-validator.slashing?.start_height) : 0"></span>
                </td>
                <td class="td-1">{{validator.tokens | number}}<br>{{100*(validator.tokens/(appState | async).totalStake) | number}}%</td>
                <td class="td-2"
                *ngFor="let block of (appState | async).blocks.slice(0,1)"
                class="title chain-queries-title"
                [innerHTML]=
                  "block.header?.height !== null 
                  ? (block.header.height-validator.slashing?.start_height-validator.slashing?.missed_blocks_counter) : 0">
                </td>
                <td *ngIf="validator.delegations; else otherBlock" class="td-2">{{validator.delegations?.length}}</td>
                <ng-template #otherBlock>
                    <td class="td-2">Loading</td>
                </ng-template>
                <td class="td-2">{{validator.commission?.rate | number}}</td>
                <!-- <td><a class="button is-small is-primary" href="#">{{validator.power}}</a></td> -->
              </tr>
            </tbody>
          </table>
      </div>
  </div>
  

</div>



