<body class="indigo-skin">
    <!--Double navigation-->
  <header>
      <!-- Sidebar navigation -->
      <mdb-side-nav #sidenavRef class="sn-bg-1" [fixed]="false">
    
        <mdb-navbar-brand>
          <li>
            <div class="logo-wrapper waves-light">
              <a [routerLink]="['/validators']">
                <!-- <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"> -->
                <img src="../../../../assets/img/Coris_logo.png" class="img-fluid flex-center logo">
              </a>
            </div>
          </li>
          <!--/. Logo -->
        </mdb-navbar-brand>
    
        <links>
          <!--Social-->
          <li>
            <ul class="social">
              <li>
                <a class="icons-sm fb-ic" href="https://github.com/jim380/Coris" target=" ">
                  <i class="fab fa-github"> </i>
                </a>
              </li>
              <li>
                <a class="icons-sm pin-ic" href="https://twitter.com/cypher_core" target=" ">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
              <li>
                <a class="icons-sm gplus-ic" href="https://t.me/cyphercore" target=" ">
                  <i class="fab fa-telegram"> </i>
                </a>
              </li>
              <li>
                <a class="icons-sm tw-ic" href="https://www.linkedin.com/company/cypher-core/about/?viewAsMember=true" target=" ">
                  <i class="fab fa-linkedin"> </i>
                </a>
              </li>
            </ul>
          </li>
          <!--/Social-->
          <!--Search Form-->
          <li>
            <form class="search-form" role="search">
              <div class="form-group md-form mt-0 pt-1 waves-light" mdbWavesEffect>
                <input #mobileSearchQueryRef type="text" class="form-control" placeholder="enter here">
                <button (click)="onMobileSearchBtnClick(mobileSearchQueryRef.value)" mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>
              </div>
            </form>
          </li>
          <!--/.Search Form-->
          <!-- Side navigation links -->
          <li>
            <ul class="collapsible collapsible-accordion">
              <mdb-accordion [multiple]="false" aria-multiselectable="false">
    
                <!-- Collapsible link -->
                <!-- <mdb-accordion-item>
                  <mdb-accordion-item-head mdbWavesEffect>
                    <i class="fas fa-chevron-right"></i> Menu 1
                  </mdb-accordion-item-head>
                  <mdb-accordion-item-body>
                    <ul>
                      <li>
                        <a href="#" mdbWavesEffect>Link 1</a>
                      </li>
                      <li>
                        <a href="#" mdbWavesEffect>Link 2</a>
                      </li>
                    </ul>
                  </mdb-accordion-item-body>
                </mdb-accordion-item> -->
    
                <!-- Simple link -->
                <mdb-accordion-item class="no-collase">
                  <mdb-accordion-item-head mdbWavesEffect routerLink="/validators">
                    <i class="fas fa-users"></i> Validator
                  </mdb-accordion-item-head>
                  <mdb-accordion-item-body></mdb-accordion-item-body>
                </mdb-accordion-item>
    
                <!-- Collapsible link -->
                <!-- <mdb-accordion-item>
                  <mdb-accordion-item-head mdbWavesEffect>
                    <i class="far fa-eye"></i> Collapsible menu 2
                  </mdb-accordion-item-head>
                  <mdb-accordion-item-body>
                    <ul>
                      <li>
                        <a href="#" mdbWavesEffect>Link 1</a>
                      </li>
                      <li>
                        <a href="#" mdbWavesEffect>Link 2</a>
                      </li>
                    </ul>
                  </mdb-accordion-item-body>
                </mdb-accordion-item> -->
    
                <!-- Simple link -->
                <mdb-accordion-item class="no-collase">
                  <mdb-accordion-item-head mdbWavesEffect routerLink="/blocks">
                    <i class="fa fa-cubes"></i> Block
                  </mdb-accordion-item-head>
                  <mdb-accordion-item-body></mdb-accordion-item-body>
                </mdb-accordion-item>
                
                <mdb-accordion-item class="no-collase">
                    <mdb-accordion-item-head mdbWavesEffect routerLink="/txs">
                      <i class="fa fa-tasks"></i> Transaction
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body></mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item class="no-collase">
                  <mdb-accordion-item-head mdbWavesEffect routerLink="/gov">
                    <i class="fa fa-university"></i> Governance
                  </mdb-accordion-item-head>
                  <mdb-accordion-item-body></mdb-accordion-item-body>
              </mdb-accordion-item>
  
              </mdb-accordion>
            </ul>
          </li>
          <!--/. Side navigation links -->
        </links>
        <div class="sidenav-bg mask-strong"></div>
      </mdb-side-nav>
      <!--/. Sidebar navigation -->
    
      <!-- Navbar -->
      <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
                  [containerInside]="false">
    
        <navlinks class="navbar-container">
          <!-- SideNav slide-out button -->
          <div class="float-left">
            <a (click)="sidenavRef.show()" class="button-collapse hidden-nav-button-collapse">
              <i class="fas fa-bars"></i>
            </a>
          </div>
          <!--/. SideNav slide-out button -->
        </navlinks>
    
        <mdb-navbar-brand>
          <!-- Breadcrumb-->
          <div class="breadcrumbs breadcrumbs-hidden-nav breadcrumb-dn mr-auto">
            <a [routerLink]="['/validators']"><h1 class="brand-nav">Coris</h1></a>
            <mat-chip-list class="alpha-chip">
                <!-- <mat-chip color = "accent">
                  alpha
                </mat-chip> -->
                <mdb-badge color="pink">alpha</mdb-badge>
            </mat-chip-list>
          </div>
          
          <!--/. Breadcrumb-->
        </mdb-navbar-brand>
    
        <navlinks>
          <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
            <li class="nav-item">
              <form class="form-inline waves-light waves-light ml-auto clearfix d-none d-xl-inline-block" mdbWavesEffect>
                <div  class="md-form my-0">
                  <input style="width: 30vw;" #searchQueryRef class="form-control mr-sm-2" type="text" placeholder="enter moniker / address / height / hash" aria-label="Search">
                  <button (click)="onSearchBtnClick(searchQueryRef.value)" mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>
                </div>
              </form>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/validators" routerLinkActive="active">
                <i class="fa fa-users"></i>
                <h3 class="clearfix d-none d-sm-inline-block">Validator</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/blocks" routerLinkActive="active">
                <i class="fa fa-cubes"></i>
                <h3 class="clearfix d-none d-sm-inline-block">Blocks</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/txs" routerLinkActive="active">
                <i class="fa fa-tasks"></i>
                <h3 class="clearfix d-none d-sm-inline-block">Transactions</h3>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/gov" routerLinkActive="active">
                <i class="fa fa-university"></i>
                <h3 class="clearfix d-none d-sm-inline-block">Governance</h3>
              </a>
            </li>

            <!-- <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <i class="fa fa-bookmark"></i>
                <h3 class="clearfix d-none d-sm-inline-block">{{ activeRoute }}</h3>
              </a>
              <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                <a class="dropdown-item" mdbWavesEffect routerLink="/validators">
                  <i class="fa fa-users"></i>
                  Validator
                </a>
                <a class="dropdown-item" mdbWavesEffect routerLink="/blocks">
                  <i class="fa fa-cubes"></i>
                  Blocks
                </a>
                <a class="dropdown-item" mdbWavesEffect routerLink="/txs">
                  <i class="fa fa-tasks"></i>
                  Transactions
                </a>
                <a class="dropdown-item" mdbWavesEffect routerLink="/gov">
                  <i class="fa fa-university"></i>
                  Governance
                </a>
              </div>
            </li> -->

            <!-- <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <i class="fa fa-globe"></i>
                <h3 class="clearfix d-none d-sm-inline-block">Network</h3>
              </a>
              <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                <a class="dropdown-item">MainNet</a>
                <a class="dropdown-item">Testnet</a>
                <a class="dropdown-item">Stay tuned</a>
              </div>
            </li> -->
          </ul>
        </navlinks>
      </mdb-navbar>
      <!--/. Navbar -->
    </header>
    <!--/.Double navigation-->
    <!--Main Layout-->
    <main>
        <body>
            <!-- <div class="row search-box">
              <form style="width: 90vw;" class="form-inline waves-light" mdbWavesEffect>
                <div  class="md-form my-0">
                  <input style="width: 70vw" #searchQueryRef class="form-control mr-sm-2" type="text" placeholder="Enter tx hash / block height / address" aria-label="Search">
                  <button (click)="onSearchBtnClick(searchQueryRef.value)" mdbBtn color="pink" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>
                </div>
              </form>
            </div> -->
          <app-status-bar></app-status-bar>

          <!-- Material Theme Test -->
          <!-- <div class="row" [ngClass]="{'dark-theme': isDarkTheme | async}">
            <div class="mat-app-background">
              <app-test></app-test>
              <div class="content">
                WTF<br>is<br>up<br>G?
              </div>
            </div>
          </div> -->
          <!-- Material Theme Test -->

          <!-- <app-validator></app-validator> -->
          <!-- <app-carousel></app-carousel> -->
          <!-- <app-test></app-test> -->
          <router-outlet (activate)="onRouterEvent($event)"></router-outlet>
          <app-scroll-top></app-scroll-top>
          <app-footer></app-footer>
        </body>
    </main>
    <!--/Main layout-->