<div class="app-container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Coris</span>
      <span fxFlex></span>
      <app-search fxHide fxShow.gt-sm="true"></app-search>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
      <app-search fxHide.gt-sm="true"></app-search>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink='/validators'>
          <h3><i class="mx-3 fa fa-users"></i>Validator</h3>
        </a>
        <a mat-list-item routerLink='/blocks'>
          <h3><i class="mx-3 fa fa-cubes"></i>Blocks</h3>
        </a>
        <a mat-list-item routerLink='/txs'>
          <h3><i class="mx-3 fa fa-tasks"></i>Transactions</h3>
        </a>
        <a mat-list-item routerLink='/gov'>
          <h3><i class="mx-3 fa fa-university"></i>Governance</h3>
        </a>
        <a mat-list-item routerLink='/faucet'>
          <h3><i class="mx-3 fa fa-shower"></i>Faucet</h3>
        </a>
        <mat-divider></mat-divider>
        <a class="mx-3">
          <mat-slide-toggle style="color:white" (change)="onToggleTheme()">Dark Theme</mat-slide-toggle>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <app-status-bar></app-status-bar>
      <router-outlet></router-outlet>
      <app-scroll-top></app-scroll-top>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
