.logo {
  height: 30px;
  width: auto;
  float: left;
  margin-top: 10px;
}

.brand-nav {
  vertical-align: middle;
  margin-bottom: 0;
}

.d-sm-inline-block {
  margin-bottom: 0;
  // color: white;
  padding-left: 5px;
  font-size: 120%;
}

h5 .mb-0 {
  padding-left: 0;
}


.alpha-chip {
  margin-left: 10px; 
}

a:hover,
a:active {
  text-decoration: none; 
}

.theme-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}


.active {
  color: #F8BBD0 !important
}


.nav-link:hover {
  color: #e83e8c !important;
}
