<!-- <body [className]="(theme$|async) === 'dark-theme' ? 'navy-blue-skin' : 'indigo-skin'">
  <header>
      <mat-sidenav #sidenavRef>
    
        <div>
          <li>
            <div class="logo-wrapper waves-light">
              <a [routerLink]="['/validators']">
              <img src="../../../../assets/img/Coris_logo.png" class="img-fluid flex-center logo">
              </a>
            </div>
          </li>
        </div>
    
        <links>
          <li>
            <ul class="social">
              <li>
                <a class="icons-sm fb-ic" href="https://github.com/jim380/Coris" target=" ">
                  <i class="fab fa-github"> </i>
                </a>
              </li>
              <li>
                <a class="icons-sm pin-ic" href="https://twitter.com/cypher_core" target=" ">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
              <li>
                <a class="icons-sm gplus-ic" href="https://t.me/cyphercore" target=" ">
                  <i class="fab fa-telegram"> </i>
                </a>
              </li>
              <li>
                <a class="icons-sm tw-ic" href="https://www.linkedin.com/company/cypher-core/about/?viewAsMember=true" target=" ">
                  <i class="fab fa-linkedin"> </i>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <ul class="collapsible collapsible-accordion">
              <mat-button-toggle-group>
                <mat-button-toggle routerLink="/validators">
                  <i class="fas fa-users"></i>
                  Validators
                </mat-button-toggle>
                <mat-button-toggle outerLink="/blocks">
                  <i class="fa fa-cubes"></i>
                  Blocks
                </mat-button-toggle>
                <mat-button-toggle outerLink="/txs">
                  <i class="fa fa-tasks"></i> 
                  Transactions
                </mat-button-toggle>
                <mat-button-toggle outerLink="/gov">
                  <i class="fa fa-university"></i>
                  Governance
                </mat-button-toggle>
              </mat-button-toggle-group>
            </ul>
          </li>
        </links>
        <div class="sidenav-bg mask-strong"></div>
      </mat-sidenav>

      <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
                  [containerInside]="false">
    
        <navlinks class="navbar-container">
          <div class="float-left">
            <a (click)="sidenavRef.show()" class="button-collapse hidden-nav-button-collapse">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </navlinks>
    
        <mdb-navbar-brand>
          <div class="breadcrumbs breadcrumbs-hidden-nav breadcrumb-dn mr-auto">
            <a [routerLink]="['/validators']"><h1 class="brand-nav">Coris</h1></a>
            <mat-chip-list class="alpha-chip">
                <span class="badge">alpha<span>
            </mat-chip-list>
          </div>
          
        </mdb-navbar-brand>
    
        <navlinks>
          <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
            <li class="nav-item">
              <form class="form-inline waves-light waves-light ml-auto clearfix d-none d-xl-inline-block">
                <div  class="md-form my-0">
                  <input style="width: 30vw;" #searchQueryRef class="form-control mr-sm-2" type="text" placeholder="Enter moniker / address / height / hash" aria-label="Search">
                  <button (click)="onSearchBtnClick(searchQueryRef.value)" mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit">Search</button>
                </div>
              </form>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/validators" routerLinkActive="active">
                <i class="fa fa-users"></i>
                <h3 class="clearfix d-none d-md-inline-block">Validator</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/blocks" routerLinkActive="active">
                <i class="fa fa-cubes"></i>
                <h3 class="clearfix d-none d-md-inline-block">Blocks</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/txs" routerLinkActive="active">
                <i class="fa fa-tasks"></i>
                <h3 class="clearfix d-none d-md-inline-block">Transactions</h3>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/gov" routerLinkActive="active">
                <i class="fa fa-university"></i>
                <h3 class="clearfix d-none d-md-inline-block">Governance</h3>
              </a>
            </li>

          </ul>
        </navlinks>
      </mdb-navbar>
    </header>
    <main>
      <body>
        <div class="fixed-action-btn d-xl-none" style="top: 100px; right: 24px;">
          <a  class="btn-floating pink waves-light" 
             
              [mdbPopover]="popTemplate"
              placement="left">
            <i class="fas fa-search"></i>
          </a>
          
        </div>
        <ng-template #popTemplate>
          <div class="row search-box">
            <form style="width: 90vw;" class="form-inline waves-light">
              <div class="md-form my-0">
                <input  #searchQueryRef class="form-control-mobile form-control mr-sm-2" 
                        type="text" 
                        placeholder="Enter tx hash / block height / address" 
                        aria-label="Search">
                <button (click)="onSearchBtnClick(searchQueryRef.value)" mdbBtn outline="true" size="sm" class="btn-outline-custom my-0 waves-light" type="submit">Search</button>
              </div>
            </form>
          </div>
        </ng-template>
        
        <app-status-bar></app-status-bar>
        <router-outlet (activate)="onRouterEvent($event)"></router-outlet>
        <app-scroll-top></app-scroll-top>
        <app-footer></app-footer>
      </body>
    </main>
  </body>

   -->
<div class="example-container" 
      [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" 
                class="example-toolbar">
    <button mat-icon-button 
            class="d-none d-md-block"
            (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">
      CORIS
    </h1>
    <span class="d-none d-md-flex badge badge-secondary">Alpha</span>
    <span class="example-spacer"></span>
    <span class="d-flex d-md-none">
      <a mat-list-item class="toolbar-nav-logo mx-3" routerLink="/validators">
        <i class="fas fa-users"></i>
      </a>
      <a mat-list-item class="toolbar-nav-logo mx-3" routerLink="/blocks">
        <i class="fa fa-cubes"></i>
      </a>
      <a mat-list-item class="toolbar-nav-logo mx-3" routerLink="/txs">
        <i class="fas fa-tasks"></i>
      </a>
      <a mat-list-item class="toolbar-nav-logo mx-3" routerLink="/gov">
        <i class="fa fa-university"></i>
      </a>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav 
                [mode]="over"
                [fixedInViewport]="mobileQuery.matches" 
                fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/validators">
          <i class="mx-3 fas fa-users"></i>
          Validators
        </a>
        <a mat-list-item routerLink="/blocks">
          <i class="mx-3 fa fa-cubes"></i>
          Blocks
        </a>
        <a mat-list-item routerLink="/txs">
          <i class="mx-3 fas fa-tasks"></i>
          Transactions
        </a>
        <a mat-list-item routerLink="/gov">
          <i class="mx-3 fa fa-university"></i>
          Governance
        </a>
        <h4 class="mx-3 justify-content-between align-items-center">
          <mat-slide-toggle (change)="onToggleTheme()" class="app-toggle">Dark Theme</mat-slide-toggle>
        </h4>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-status-bar></app-status-bar>
      <router-outlet (activate)="onRouterEvent($event)"></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>