<mat-card class="card-1 mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Block # Detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hash
                <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Proposer
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Transactions
                <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Timestamp
                <span class="badge badge-primary badge-pill">1</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>

<mat-card class="card-2 mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Activity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
<!-- Nav tabs -->
<mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
        <!--Panel 1-->
        <mdb-tab heading="Transfer">
          <div class="row">
            <div class="col-12">
              <p>A table with tabs might be a better idea here, like how you did the tables in Gov Detail page.</p>
            </div>
          </div>
        </mdb-tab>
        <!--Panel 2-->
        <mdb-tab heading="Staking">
          <div class="row">
            <div class="col-12">
              <p>A table with tabs might be a better idea here, like how you did the tables in Gov Detail page.</p>
            </div>
          </div>
        </mdb-tab>
        <!--Panel 3-->
        <mdb-tab heading="Distribution">
          <div class="row">
            <div class="col-12">
              <p>A table with tabs might be a better idea here, like how you did the tables in Gov Detail page.</p>
            </div>
          </div>
        </mdb-tab>
        <mdb-tab heading="Governance">
          <div class="row">
            <div class="col-12">
              <p>A table with tabs might be a better idea here, like how you did the tables in Gov Detail page.</p>
            </div>
          </div>
        </mdb-tab>
        <mdb-tab heading="Slashing">
            <div class="row">
              <div class="col-12">
                <p>A table with tabs might be a better idea here, like how you did the tables in Gov Detail page.</p>
              </div>
            </div>
        </mdb-tab>
      </mdb-tabset>
    </mat-card-content>
</mat-card>
  