/*-------------------------------------------------*/
/* Reusable Components */
/*-------------------------------------------------*/
.row {
  max-width: 90%;
  margin: 0 auto;

}

table {
  table-layout: fixed;
  /*width: 100px;*/
}

td {
  overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
  white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
  text-overflow: ellipsis;
}

.dash-card-table {
  max-height: 200px;
  overflow-y: scroll;
}

.card-header {
  background: rgb(0, 87, 77);
}

p,
tbody {
  color: white;
}

.clickable:nth-child(odd){
  background:#0D151F;
}

.clickable:nth-child(even){
  background:#111923;
}