<div class="columns">
  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Blocks
        </p>
      </header>
      <div class="card-table dash-card-table">
        <div class="content">
          <table class="table is-striped">
            <tbody>
              <tr *ngFor="let block of (appState | async).blocks">
                <td width="5%"><i class="fas fa-vector-square"></i></td>
                <td class="block-title">{{block.data.value.block.header.app_hash}}</td>
                <td class="block-title">{{block.data.value.block.header.height}}</td>
               </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a routerLink="/txs" class="card-footer-item">View More</a>
      </footer>
    </div>
  </div>

  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Transactions
        </p>
      </header>
      <div class="card-table dash-card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <tbody>
              <tr *ngFor="let tx of (appState | async).txs">
                <td width="5%"><i class="fas fa-vector-square"></i></td>                
                <td class="block-title">{{tx.data.value.TxResult.tx}}</td>
                <td width="20%">{{tx.data.value.TxResult.height}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a routerLink="/txs" class="card-footer-item">View More</a>
      </footer>
    </div>
  </div>
</div>