<section>
  <app-btn-close [link]="'account/'+delegator.address" [dialogRef]="dialogRef"></app-btn-close>
  <div class="popup-row row">
    <div class="px-0 col-12">
      <mat-card  cdkDrag class="mat-elevation-z8 mb-3">
        <mat-card-header>
          <mat-card-title>{{ delegator.address }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">
            
            <div class="row">
              <div class="col-sm-4 col-12">
                <h4 class="glance-title"><span class="badge" color="red">Available</span></h4>
                <h4>{{ delegator.balance.available/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
              </div>
              <div class="col-sm-4 col-12">
                <h4 class="glance-title"><span class="badge" color="cyan">Delegated</span></h4>
                <h4>{{ delegator.balance.delegated/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
              </div>
              <div class="col-sm-4 col-12">
                <h4 class="glance-title"><span class="badge" color="amber darken-2">Rewards</span></h4>
                <h4>{{ delegator.balance.rewards/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 col-12">
                <h4 class="glance-title"><span class="badge" color="lime">Unbonding</span></h4>
                <h4>{{ delegator.balance.unbonding/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
              </div>
              <div class="col-sm-4 col-12">
                <h4 class="glance-title"><span class="badge" color="purple darken-2">Total</span></h4>
                <h4>{{ delegator.balance.total/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
              </div>
              <div class="col-sm-4 col-12">
                <h4 class="glance-title"><span class="badge" color="indigo">Total $</span></h4>
                <h4> 
                {{ ((delegator.balance.total/1e6) * quoteUsd) | number:".2-2" }}&nbsp;USD
                </h4>
              </div>
            </div>
            <a class="btn pink btn-rounded waves-effect waves-light text-white">At a Glance</a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card cdkDrag class="mat-elevation-z8 mb-3">
        <mat-card-header>
          <mat-card-title>Transactions (Last 100 blocks)</mat-card-title>
        </mat-card-header>
        <mat-card-content class="px-0">
          <app-txs-list-card [address]="delegator.address"></app-txs-list-card>
        </mat-card-content>
      </mat-card>
    </div>   
  </div>
</section>