<section>
  <app-btn-close [link]="'account/'+delegator.address" [dialogRef]="dialogRef"></app-btn-close>
  <div class="popup-row row">
    <div class="px-0 col-12">
      <mdb-card class="testimonial-card mat-elevation-z8 mb-3">
        <mdb-card-header>
          <mdb-card-title>{{ delegator.address }}</mdb-card-title>
        </mdb-card-header>
        <mdb-card-body >
          <div class="card">
            <div class="card-body">
              
              <div class="row">
                <div class="col-sm-4 col-12">
                  <h4 class="glance-title"><mdb-badge color="red">Available</mdb-badge></h4>
                  <h4>{{ delegator.balance.available/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
                </div>
                <div class="col-sm-4 col-12">
                  <h4 class="glance-title"><mdb-badge color="cyan">Delegated</mdb-badge></h4>
                  <h4>{{ delegator.balance.delegated/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
                </div>
                <div class="col-sm-4 col-12">
                  <h4 class="glance-title"><mdb-badge color="amber darken-2">Rewards</mdb-badge></h4>
                  <h4>{{ delegator.balance.rewards/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 col-12">
                  <h4 class="glance-title"><mdb-badge color="lime">Unbonding</mdb-badge></h4>
                  <h4>{{ delegator.balance.unbonding/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
                </div>
                <div class="col-sm-4 col-12">
                  <h4 class="glance-title"><mdb-badge color="purple darken-2">Total</mdb-badge></h4>
                  <h4>{{ delegator.balance.total/1e6 | number:".2-2" }}&nbsp;ATOM</h4>
                </div>
                <div class="col-sm-4 col-12">
                  <h4 class="glance-title"><mdb-badge color="indigo">Total $</mdb-badge></h4>
                  <h4> 
                  {{ ((delegator.balance.total/1e6) * quoteUsd) | number:".2-2" }}&nbsp;USD
                  </h4>
                </div>
              </div>
              <a class="btn amber btn-rounded waves-effect waves-light text-white" mdbWavesEffect>At a Glance</a>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
      <div class="px-0 col-12">
        <div class="card mat-elevation-z8 mb-3">
          <mdb-card-header>
            <mdb-card-title>Transactions (Last 100 blocks)</mdb-card-title>
          </mdb-card-header>
          <mdb-card-body class="px-0">
            <app-txs-list-card [address]="delegator.address"></app-txs-list-card>
          </mdb-card-body>
        </div>
      </div>
    </div>   
  </div>
</section>