<div class="fixed-action-btn" style="top: 25px; right: 24px;">

  <a class="btn-floating btn-large red waves-light" mdbWavesEffect (click)="onCloseClick()">
    <i class="fas fa-times"></i>
  </a>

  <!-- <div class="fixed_collapse" mdbCollapse="isCollapsed" #fixed="bs-collapse">
    <ng-template #popTemplate>
      <i 
      class="ion-ios-copy copy-button text-monospace" 
      style="cursor: pointer;" 
      ngxClipboard 
      [cbContent]="'coris.network/'+link" 
      (click)="onCopySucceess()"
      mdbTooltip="copy to clipboard" mdbTooltipPosition="above">
        coris.network/{{link}}
      </i>  
    </ng-template>
    <a  class="btn-floating green waves-light" 
        mdbWavesEffect
        [mdbPopover]="popTemplate"
        placement="left"
        mdbPopoverHeader="External link">
        <i class="fas fa-external-link-alt"></i>
    </a>
    <a class="btn-floating red waves-light" (click)="onCloseClick()" mdbWavesEffect><i class="fas fa-times"></i></a>
  </div> -->

</div>