<div class="field has-addons">
  <div class="control">
    <input class="input" placeholder = "Enter tx hash" #queryInputRef >
  </div>
  <div class="control">
    <a 
      class = "button is-info" 
      (click) = 'clickButton(queryInputRef.value)' >
        Search
    </a>
  </div>
</div>
<div *ngIf="(tx?.hash); else elseBlock" class="card events-card">
  <div class="card-table">
    <div class="content">
      <article class="message">
        <div class="message-header">
          <i class="fab fa-codepen"></i>
          <p>Tx</p>
        </div>
        <div class="message-body">
          <h3>Hash {{tx.hash}}</h3>
          <h3>Height {{tx.height}}</h3>
          <p>Gas: {{tx.tx_result.gasUsed}}/{{tx.tx_result.gasWanted}}</p>
          <p>Msg: {{tx.tx}}</p>
        </div>
      </article>
    </div>
  </div>
</div>
<ng-template #elseBlock>No tx found</ng-template>