@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "app/theme";
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

section {
  padding: 0px;
}

.box {
  padding: 1%;
}


.mat-card-header-text {
  margin-left: 5px;
}

.box-value {
  text-align: right;
  margin-right: 5px;
}

.hero {
  background: rgba(0, 121, 107, 0.8); /*#2461acb0*/
}
/*-------------------------------------------------*/
/* Heading */
/*-------------------------------------------------*/
h1,
h2,
h3 {
    font-weight: 300;
    /* text-transform: uppercase; */
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 200%;
  /* word-spacing: 3px;
  letter-spacing: 1px; */
}

h2 {
  font-size: 130%;
  word-spacing: 2px;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3 {
  font-size: 120%;
  /* margin-bottom: 15px; */
  text-align: center;
}

/*-------------------------------------------------*/
/* Paragraphs */
/*-------------------------------------------------*/
p {
  font-size: 100%;
  text-align: center;
  line-height: 145%;
}


.main {
  padding-top: 5.5rem;
  min-height: 100%;
}

/*-------------------------------------------------*/
/* Header */
/*-------------------------------------------------*/
header {
  height: 15vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.landing {
  justify-content: center;
  align-items: center;

}
.main-container {
  min-height: 76vh;
}

.card-header-title {
  color:#8F99A3;
  font-weight: 400;
}

.box {
  background: #00796B;
}

article {
  background: #111923;
}

.subtitle {
  font-weight: 400;
  color:#FF4081;
}

.header-title,
.header-subtitle {
  text-align: left;
}

.header-subtitle {
 color: #FF4081;
}

.card .content {
  font-size: 14px;
}

.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;
}

.card-table .table {
  margin-bottom: 0;
}

.events-card .card-table {
  overflow-y: scroll;
}

 .navbar{
  background: #0D151F;
}

/*-------------------------------------------------*/
/* Footer */
/*-------------------------------------------------*/
footer {
  background-color: #0D151F;
  color: white;
  padding: 30px;
}

.footer-nav {
  list-style: none;
  float: left;
}


.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

footer p a:link,
footer p a:visited,
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link, 
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888888;
    transition: color 0.2s;
}

footer p a:hover,
footer p a:active,
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #FC7D14;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-github:hover {
    color: #a6b1b7;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-paper-airplane:hover {
    color: #0088cc;
}

.ion-social-linkedin:hover {
    color: #007bb5;
}

footer p {
  color: #888888;
  text-align: center;
  margin-top: 20px;
}

/*-------------------------------------------------*/
/* Material */
/*-------------------------------------------------*/
.query-card {
  background: #3F51B5;
  color: white;
}

/* navbar */
.mat-drawer-inner-container {
  background-color: #0D151F;
}

.mat-list-item-content {
  color: #F7F7F7;
  text-decoration: none;
}

.mat-list-item-content:hover,
.mat-list-item-content:active {
  color:white;
  background-color: #00796B;
}


.terms-dialog .mat-dialog-container {
  padding: 24px !important;
}

.mat-dialog-container {
  padding: 0 !important;
}


.fixed-top {
  z-index: 150 !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #00796B;
}

/*-------------------------------------------------*/
/* Scroll Bar */
/*-------------------------------------------------*/
.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}
  
.force-overflow {
min-height: 450px;
}

.scrollbar-near-moon::-webkit-scrollbar {
width: 12px;
background-color: white; }

.scrollbar-near-moon::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #3F51B5; }

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }

.card-cascade {
  margin-bottom: 0;
}

.btn-floating {
  z-index: 130;
}


.mat-form-field-label {
  color: white !important;
}