@import '~bootstrap/dist/css/bootstrap.min.css';
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

i {
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}

html,
body{
  background: #484C52;
  color: #F7F7F7;
}