.main-row {
  max-width: 1200px;
  margin:0 auto;
  max-height: 600px;
}

.row {
  margin: 0 auto;
}

.row-2 {
  margin-top: 30px;
}

mat-card {
  max-width: 100%;
  background-color: white;
  width: 800px;
}

li {
  max-height: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voters-list {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.proposal-title {
  font-weight: 300;
  font-size: 120%;
}

.card.card-cascade {
  .view {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
  }
}

// .row {
//     width: 900px;
//     max-width: 100%;
//     margin-bottom: 20px;
// }

// table {
//     min-width: 100%;
// }

// .mat-row:nth-child(even){
//     background-color:#0D151F;
// }

// .mat-row:nth-child(odd){
//   background-color:#111923;
// }

// .mat-header-cell, .mat-cell {
//   font-size: 20px;
//   font-family: 'Lato', 'Arial', sans-serif;
//   font-weight: 300;
//   text-rendering: optimizeLegibility;
//   vertical-align: middle;
// }

// .mat-header-cell {
//   color: #ffffff;
//   border-bottom-style: solid;
//   border-bottom-width: 1px;
//   border-color: white;
// }

// .mat-cell {
//   color: #F7F7F7;
// }

// .mat-header-row {
//   background-color: #3F51B5;
// }

//   th:nth-child(1) {
//     width: 5%;
//   }
  
//   th:nth-child(2) {
//     width: 15%;
//   }
  
//   th:nth-child(3) {
//     width: 10%;
//   }
  
//   th:nth-child(4) {
//     width: 15%;
//   }
//   th:nth-child(5) {
//     width: 15%;
//   }