<section class="section">
  <div class="row main-row">
    <div class="col-md-12">
      <mat-card alignment="left">
        <mat-card-title>Account: {{ delegator.address }}</mat-card-title>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Balance
              <span class="badge badge-primary badge-pill">
                {{ ( delegator.coins ? delegator.coins[0].amount/1e6 : 0 ) | number:".2-2" }}&nbsp;ATOM
              </span>
            </li>
          </ul>
        </div>
      </mat-card>
    </div>
    <div class="col-md-12">
      <mat-card alignment="left">
        <mat-card-title>Transactions (last 100)</mat-card-title>
          <div class="card-body">
            <mat-tab-group (selectedTabChange)="onTabChange($event);">
              <mat-tab label="Staking">
                <table mat-table [dataSource]="dataSource" class="table large-header">
                  <ng-container matColumnDef="hash">
                    <th mat-header-cell *matHeaderCellDef> Hash </th>
                    <td mat-cell *matCellDef="let tx">
                      {{ tx.txhash }}
                      <i  class="ion-ios-copy copy-button" 
                          style="cursor: pointer;" 
                          ngxClipboard [cbContent]="tx.txhash" 
                          (click)="onCopySuccess()">
                      </i>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="height">
                    <th mat-header-cell *matHeaderCellDef> Height </th>
                    <td mat-cell *matCellDef="let tx"> 
                      {{ tx.height }} 
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-tab>
              <mat-tab label="Transfer">
                <table mat-table [dataSource]="dataSource" class="table large-header">
                  <ng-container matColumnDef="hash">
                    <th mat-header-cell *matHeaderCellDef> Hash </th>
                    <td mat-cell *matCellDef="let tx">
                      {{ tx.txhash }}
                      <i  class="ion-ios-copy copy-button" 
                          style="cursor: pointer;" 
                          ngxClipboard [cbContent]="tx.txhash" 
                          (click)="onCopySuccess()">
                      </i>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="height">
                    <th mat-header-cell *matHeaderCellDef> Height </th>
                    <td mat-cell *matCellDef="let tx"> 
                      {{ tx.height }} 
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-tab>
            </mat-tab-group>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</section>