<div class="card events-card">
  <div class="card-table">
    <div class="content">
      <article class="message">
        <div class="message-header">
          <i class="fab fa-codepen"></i>
          <p>Validator</p>
        </div>
        <div class="message-body">
          <h3>Details</h3>
          <h3>Stuff</h3>
          <table class="table is-fullwidth is-striped">
            <tbody>
              <tr>
                <th><a>Some info</a></th>
              </tr>
              <!-- <div [style.display]="displayCommits ? 'flex': 'none'" id="precommits">
                <tr>
                  <td *ngIf="(validator === null)">Abscent!</td>
                  <td *ngIf="(validator !== null)">{{validator.validator_address}}</td>
                </tr>
              </div> -->
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
</div>
