<div *ngFor="let block of (appState | async).blocks.slice(0,1)" class="card events-card">
  <div class="card-table">
    <div class="content">
      <article class="message">
        <div class="message-header">
          <i class="fab fa-codepen"></i>
          <p>Latest Block</p>
        </div>
        <div class="message-body">
          <h3>Block at {{block.header.height}}</h3>
          <h3>App-Hash: {{block.header.app_hash}}</h3>
          <table class="table is-fullwidth is-striped">
            <tbody *ngIf="block.last_commit">
              <tr>
                <th><a (click)="showHideElem()">Precommits ({{block.last_commit.precommits.length}})</a></th>
              </tr>
              <div [style.display]="displayCommits ? 'flex': 'none'" id="precommits">
                <tr *ngFor="let validator of block.last_commit.precommits">
                  <td *ngIf="(validator === null)">Abscent!</td>
                  <td *ngIf="(validator !== null)">{{validator.validator_address}}</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
</div>